/* Create Page
----------------------------------------------------------*/
.addLocalisationContainer
{
    background:url('images/ajout.jpg') no-repeat 99% 99%;
}

.editPicBack
{
    background:#f8f8f8;   
}

.picInput
{
    margin-top:10px;
    margin-bottom:10px;
}

.dataEdition td
{
    padding:1px 5px;
}

.dataEdition td:first-child
{
    /*font-style:italic;*/
}

#offerContainer
{
    padding:10px 5px;
}

.generalInfosTable
{
    margin-top:5px;
}

.generalInfosTable input[type="text"], input[type="password"]
{
    width:400px;
}

.generalInfosTable select
{
  width: 414px;
}

.generalInfosTable textarea
{
    width:400px;
}

.localisationOwnerField label
{
    /*vertical-align: 15%;*/
}

.localisationOwnerField
{
    padding:0 0 10px 0;
}

.localisationOwnerField input[type="checkbox"]
{
    margin-left:10px;
}

.phoneNumberRow td
{
    padding:0;
    border:0;
}

.phoneNumberRow input[type="text"], input[type="password"]
{
    width:170px;
}

.phoneNumberCol
{
    padding-right:24px;
}

.faxCol
{
    padding-left:11px;
    padding-right:16px;
}

.editDesc
{
    width:50%;
    margin-top:7px;
}

.editOpenning
{

}

.editionTable
{
    margin:10px 0;
}

.editOpenning td:first-child
{
    width:72px;
}

.editOpenning input[type="text"], input[type="password"]
{
    width:50px;
}

.editHoraire
{
    font-style:normal;
}

.editServiceHead
{
    margin-top:5px;
    margin-bottom:5px;
}

.editFeature .editor-label
{
    width: 200px;
}

.serviceContainer
{
    padding:5px;
}

.serviceContainer label
{
    padding-left:5px;
}

.serviceContainer ul
{
    margin: 5px;
}

.serviceContainer li
{
    padding:2px;
}

.subserviceContainer
{
    padding:5px;
    width:220px;
}

.subserviceContainer h4
{
    font-weight:normal;
    color:#5dafde;
}

.coffeePrice input[type="text"]
{
    width: 50px;
    margin-left: 10px;
}

.coffeePrice label
{
    vertical-align:0;
}

.editPlace
{
    position:relative;
    width:21%;
    background:#f1f2f3;
    padding:10px;
}

.editPlace h3
{
    display:block;
}

#editMapDiv
{
    height:180px;
    margin:5px 0 5px 0;
}

.submitAddButton
{
    margin-right:100px;
}

/*jQuery file upload*/
#fileupload
{
    background: #F1F2F3;
    padding:5px;
}

#fileupload .files
{
    margin: 5px 0;
}

#fileupload img
{
    max-height:50px;
    max-width:50px;
}

#fileupload td
{
    padding: 2px;
}

#fileupload td label
{
    font-size:11px;
}

#fileupload td input[type="radio"]
{
    width: 100%;
    padding: 0;
    margin: 0;
}

#fileupload .fileupload-progressbar
{
    width: auto;
}

#fileupload .fileupload-buttonbar
{
    background: inherit;
    color:inherit;
    font-size:inherit;
    border:0;
}

#fileupload .fileupload-content
{
    background: inherit;
    color:inherit;
    font-size:inherit;
    border:0;
}

#fileupload .radioDiv
{
    text-align:center;
}

.localisationAtSamePlace
{
    padding: 2px;
    width: 400px;
}