/* Index Page
----------------------------------------------------------*/
.indexHeader
{
    text-align: center;
    margin-bottom: 20px;
}

.borderBlue
{
	border-color:#5dafde!important;
}

.borderRed
{
	border-color:#d25657!important;
}

.borderOrange
{
	border-color:#f7a33a!important;
}

.borderGreen
{
	border-color:#bbd31f!important;
}

ul.tabs li.backgroundOrange.active, ul.tabs li.backgroundOrange.active a, html ul.tabs li.backgroundOrange.active a:hover
{
	background-color:#f7a33a!important;
}

ul.tabs li.backgroundRed.active, ul.tabs li.backgroundRed.active a, html ul.tabs li.backgroundRed.active a:hover
{
	background-color:#d25657!important;
}

ul.tabs li.backgroundGreen.active, ul.tabs li.backgroundGreen.active a, html ul.tabs li.backgroundGreen.active a:hover
{
	background-color:#bbd31f!important;
}

/*.indexSearchContainer
{
    background: #f8f8f8;
}*/

.index_row_margin
{
    margin-top:20px;
}

.index_slides_container
{
    width: 49%;
}

.index_slides
{
    height: 310px;
}

.indexFormContainer
{
    width:49%;
}

.indexFormContainer ul.tabs li
{
    font-size:1.5em;
}

.indexFormContainer .contentBlock
{
    margin:0;
    height:290px;
    font-size: 1.4em!important;
}

.indexSearchFormDiv
{
    padding:20px;
}

.indexSearchFormDivRow
{
    margin-bottom:10px;
}

.indexSearchFormDiv select, .indexSearchFormDiv input[type="text"], input[type="password"]
{
    width: 100%;
    font-size:1em;
}

.indexSearchFormDiv input[type="text"], input[type="password"]
{
    /*width:227px;*/
}

.indexSearchIndexLinks
{
    margin-top:40px;
}

.indexSearchIndexLinks .buttonStd
{
    padding: 10px 20px;
}

.indexSearchIndexLinksLeft
{
    bottom: 25%;
    position: absolute;
}

.indexSearchIndexLinksRight
{
    
}

/*.searchIndexHead
{
    background-position: left center;
    background: url('images/loupe.png') no-repeat;
    height: 27px;
    padding-left:50px;
}*/

#slides {
	z-index:100;
}

.slides_container {
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container div.slide 
{
    width:500px;
    height:325px;
	display:block;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:0;
	left:0;
	height:80px;
	width:460px;
	padding:10px;
	background:#4E5A68;
	opacity: 0.8;
}

.caption_avatar
{
    width: 80px;
    height: 80px;
    margin-right :10px;
}

.caption_avatar img
{
    max-height: 80px;
}

.caption_text
{
    color:White;
}

.caption_desc
{
    height: 49px;
    font-size: 1.1em;
    font-style:italic;
    color: white;
}

.caption_desc a
{
    font-style:italic;
    color: white;
    text-decoration:none;
}

.caption_infos
{
}

.caption_name
{
    font-size: 1.2em; 
    color: #93c8e7;
}

.caption_name a
{
	color: #93c8e7;
	text-decoration:none;
}

.slide_image img
{
    width:100%;
    height:100%;
}

.slides_container div.slide 
{
	width:480px;
	height:310px;
	display:block;
}

.indexLogoContainer
{
    width: 45%;
    height: 100px;
    padding:20px!important;
}

.indexLogoImage
{
    width: 122px;
    height: 75px;
    margin-top: 15px;
}

.indexLogoSearch
{
    background: url('images/homeLogo1.png');
}

.indexLogoRental
{
    background: url('images/homeLogo3.png');
}

.indexLogoBooking
{
    background: url('images/homeLogo2.png');
}

.indexLogoMore
{
    background: url('images/homeLogo4.png');
}

.indexLogoDesc
{
    width:70%;
}

.blogDesc
{
    padding:10px;
}

.blogItem
{
    padding: 10px;
    margin: 5px;
}

.blogItem:hover
{
    background:#f3f3f3
}

.blogDate
{
    width:120px;
}

.blogContent
{
    width:550px;
}