/* Index Page
----------------------------------------------------------*/
.indexHeader
{
    text-align: center;
    margin: 10px 0 30px 0;
}

.borderBlue
{
	border-color:#5dafde!important;
}

.borderRed
{
	border-color:#d25657!important;
}

.borderOrange
{
	border-color:#f7a33a!important;
}

.borderGreen
{
	border-color:#bbd31f!important;
}

.backgroundOrange a
{
	color:White;
}

.backgroundBlue, .backgroundBlue a, .backgroundBlue a:hover
{
	background-color:#5dafde!important;
	color:White!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.backgroundOrange, .backgroundOrange a, .backgroundOrange a:hover
{
	background-color:#f7a33a!important;
	color:White!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.backgroundRed, .backgroundRed a, .backgroundRed a:hover
{
    background-color:#d25657!important;
	color:White!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.backgroundGreen, .backgroundGreen a, .backgroundGreen a:hover
{
    background-color:#bbd31f!important;
	color:White!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*.indexSearchContainer
{
    background: #f8f8f8;
}*/

.index_row_margin
{
    /*margin-top:20px;*/
}

.index_slides_container
{
    width: 49%;
}

.index_slides_container h3
{
    margin:5px 0 4px 0;
    font-size:1.3em;
}

.index_slides_block
{
    /*margin-top:15px!important;*/
}

.index_slides
{
    height: 310px;
}

.indexFormContainer
{
    width:49%;
}

.indexFormContainer .tabs li
{
    font-size:1.3em;
}

.indexFormContainer .contentBlock
{
    margin: 6px 0 0 0!important;
    height:310px;
    font-size: 1.4em!important;
}

.indexSearchFormDiv
{
    padding:20px;
}

.indexSearchFormDiv select, .indexSearchFormDiv input[type="text"], input[type="password"]
{
    width: 100%;
    font-size:1em;
}

.indexSearchFormDiv input[type="text"], input[type="password"]
{
    /*width:227px;*/
}

.indexSearchFormLabel
{
    margin-bottom:5px;
}

.indexSearchFormField
{
    margin-bottom:25px;
}

.indexSearchIndexLinks
{
    margin-top:40px;
}

.indexSearchIndexLinks .buttonStd
{
    padding: 10px 20px;
}

.indexSearchIndexLinksLeft
{
    bottom: 25%;
    position: absolute;
}

.indexSearchIndexLinksRight
{
    
}

/*.searchIndexHead
{
    background-position: left center;
    background: url('images/loupe.png') no-repeat;
    height: 27px;
    padding-left:50px;
}*/

#slides {
	z-index:100;
}

.slides_container {
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container div.slide 
{
    width:450px;
    height:310px;
	display:block;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:0;
	left:0;
	height:80px;
	width:440px;
	padding:10px;
	background:#4E5A68;
	opacity: 0.8;
}

.caption_avatar
{
    width: 80px;
    height: 80px;
    margin-right :10px;
}

.caption_avatar img
{
    max-height: 80px;
}

.caption_text
{
    color:White;
}

.caption_desc
{
    height: 49px;
    font-size: 1.1em;
    font-style:italic;
    color: white;
}

.caption_desc a
{
    font-style:italic;
    color: white;
    text-decoration:none;
}

.caption_infos
{
}

.caption_name
{
    font-size: 1.2em; 
    color: #93c8e7;
}

.caption_name a
{
	color: #93c8e7;
	text-decoration:none;
}

.slide_image img
{
    width:100%;
    height:100%;
}

.indexLogos
{
    margin:20px 0;
}

.indexLogoContainer
{
    width: 45%;
    height: 100px;
    padding:20px!important;
}

.indexLogoImage
{
    width: 122px;
    height: 75px;
    margin-top: 15px;
}

.indexLogoSearch
{
    background: url('images/homeLogo1.png');
}

.indexLogoRental
{
    background: url('images/homeLogo3.png');
}

.indexLogoBooking
{
    background: url('images/homeLogo2.png');
}

.indexLogoMore
{
    background: url('images/homeLogo4.png');
}

.indexLogoDesc
{
    width:68%;
    vertical-align: 15%;
    margin-left: 5px;
}

.blogDesc
{
    padding:10px;
}

.blogItem
{
    padding: 10px;
    margin: 5px;
}

.blogItem:hover
{
    background:#f3f3f3
}

.blogDate
{
    width:120px;
}

.blogContent
{
    width:550px;
}