/* Results Details
----------------------------------------------------------*/
.localisationAccessDetail
{
    margin-top:10px;
}

.dayOfWeek
{
    width: 60px;
    padding-right: 20px;
}

.commentFormRating td:first-child
{
    width:100px;
}

.localisationDetail
{

}

.localisationDetailHead
{
}

.localisationLogo
{
    height:70px;
    width:90px;
}

.localisationLogo img
{
    max-height:70px;
}

.localisationTitle
{
    width: 60%;
}

.localisationName
{
    font-size:2em;
}

.localisationDesc
{
    margin-bottom:10px;
}

.localisationCity
{
    font-size:1.2em;
}

.localisationShare
{
	margin-top: 10px;
}

#favLink
{
	margin-left: 10px;
	display: inline-block;
}

.localisationDetailLeft
{
    width:61.5%;
}

.localisationDetailRight
{
    width:30%;
}

.localisationMap
{
    padding:2px;
    border: 1px solid #5dafde;
}

.localisationGallery
{
    height: 350px;
}

.favoris_add{ background-image:url('images/favorite.png'); background-position: 0 0; width: 20px; height: 21px;  display:inline-block;} 
.favoris_del{ background-image:url('images/favorite.png'); background-position: 0 -71px; width: 20px; height: 21px; display:inline-block;} 

#commentFormDiv textarea
{
	width:98.5%;
}

.offerGallery
{
	margin:10px 0;
}

.servicesBlock
{
    margin-bottom:10px;
}