/* Results Details
----------------------------------------------------------*/
.localisationAccess
{
    padding:20px 0 10px 0;
}

.localisationAccessDetail
{
    margin-top:10px;
}

.mainPic
{
    height:80%;
    width:98%;
    padding: 5px 2px;
}

.mainPic img
{
    max-width:285px;
    max-height:200px;
}

.smallPics
{
    height:19%;
    width:100%;
    margin: 5px 0;
}

.picDiv 
{
    width:31%;
    height:100%;
}

.picDiv img
{
    max-width:100px;
    max-height:45px;
}

.picDivMiddle
{
    margin:0 3.5% 0 3.5%;
}


.localisationDetailsRight h2
{
    margin-top:15px;
    margin-bottom:15px;
    font-size:2em;
}

.localisationCity
{
    font-weight:bold;
    font-size:1.2em;
}

.localisationContactDetails
{
    
}

.localisationRatings
{
    padding-left:20px;
}

.localisationBold
{
    font-weight:bold;
}

.localisationMainDetails
{
    margin-bottom:20px;
}

.localisationCommDiv
{
    
}

.localisationDescBefore
{
    height:90px;
}

.localisationOpenings
{
    /*width:50%;*/
}

.localisationOpenings td
{
    /*padding:1px 5px;*/
    vertical-align:text-top;
}

.dayOfWeek
{
    width: 60px;
    padding-right: 20px;
    /*text-align:right;
    font-style:italic;*/
}

.shareLinks
{
    padding: 5px 0;
}

.mailPrint
{
    /*padding: 0 10px;*/
}

.allAvailableServices
{
    
}

.allAvailableServices h3
{
    margin-top: 10px;
}

.servicesDesc
{
    
}

.servicesDesc h3
{
    margin:10px 0;
}

.backToResults a
{
    text-align: left;
}

.commentsDiv
{
    margin-top:10px;
}

.commentHeader
{
    vertical-align:top;
    margin-top:10px;
}

.commentAutor
{
    vertical-align:top;
    font-weight:bold;
}

.commentContent
{
    padding:10px;
    background:#f8f8f8;
}

.commentFormRating td:first-child
{
    width:100px;
}

.detailServiceContainer
{
    padding-left:5px;
}

.detailServiceContainer label
{
    padding-left:5px;
    vertical-align: 25%;
}

.detailServiceContainer ul
{
    margin: 2px;
}

.detailServiceContainer li
{
    /*padding:2px;*/
}

.detailSubserviceContainer
{
    width:220px;
}

.detailSubserviceContainer h4
{
    font-weight:normal;
    color:#bbd31f;
}

.localisationDetail
{

}

.localisationDetailHead
{
    /*padding:20px;*/
}

.localisationLogo
{
    height:70px;
    width:90px;
}

.localisationLogo img
{
    max-height:70px;
}

.localisationTitle
{
    padding:0 10px;
    width: 55%;
}

.localisationServicesContainer
{
    margin:0 10px;
}

.localisationName
{
    font-size:2em;
}

.localisationDesc
{
    margin-bottom:10px;
}

.localisationCity
{
    font-size:1.2em;
}

.localisationSubtitle
{
	/*margin-top: 15px;*/
}

.localisationShare
{
	/*margin-top: 45px;*/
	margin-top: 10px;
    /*padding:10px 0;*/
}

#favLink
{
	margin-left: 10px;
	display: inline-block;
}

.localisationDetailLeft
{
    width:61.5%;
}

.localisationDetailRight
{
    width:30%;
}

.localisationMap
{
    padding:2px;
    border: 1px solid #5dafde;
}

.localisationGallery
{
    height: 350px;
}

.localisationInformation
{
    font-weight:bold;
}

.featureTag ul
{
    margin: 0;
    padding: 0;
}

.featureTag li
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 0 3px 6px 0;
    background-color: #EEE;
    /*background-color: #5dafde;*/
    float: left;
    /*color:White;*/
}

.favoris_add{ background-image:url('images/favorite.png'); background-position: 0 0; width: 20px; height: 21px;  display:inline-block;} 
.favoris_del{ background-image:url('images/favorite.png'); background-position: 0 -71px; width: 20px; height: 21px; display:inline-block;} 
