.rentalDetailLeft
{
    width:61.5%;
}

.rentalDetailRight
{
    width:30%;
}

.rentalGallery
{
    height: 350px;
}

.rentalDesc
{
    margin-bottom:10px;
}

.rentalMap
{
    padding:2px;
    border: 1px solid #5dafde;
}

.rentalSummary
{
    height:128;
    width:250;
    margin:20px;
}

.rentalSummaryElem
{
    background:white;
    color:white;
    background-color:#D35758;
    margin-right:10px;
    height:32;
    width:100;
    font-size:1.5em;
    font-family:Arial,Helvetica,Sans-Serif;
    font-weight:600;
    border-width:20px;
    border-color:#D35758;
    padding:10px;
}

.rentalTitlered
{
    color: #D35758;
    font-size:2em;
    font-weight:bold;
}

.rentalTitle
{
    margin-left:0px;
    margin-top:20px;
}

.rentalMargin
{
    margin-bottom:5px;
    margin-top:15px;
}

.resultDiv
{
    width: 72.5%;
}

.rentalSearchRightPanel
{
    padding:10px;
    width:24.5%;
}

.rentalSearchLeftPanel
{
    margin:10px;
}

.rentalSearchLeftPanelDetail
{
    margin:0px;
    padding:10px;
    border: 1px solid #CCC;
    background-color:White;
    -webkit-border-radius:4px;
    border-radius:4px;
    box-shadow:4px 4px 10px #DDD;
    height:650px;
}

input#MaxRate.Rsrchcol,
input#MinRate.Rsrchcol,
input#MinSurface.Rsrchcol,
input#MaxSurface.Rsrchcol
{
    width:28%;
}

input#MaxRate,
input#MinRate,
input#MinSurface,
input#MaxSurface
{
    width:45%;
}


.rentalElementDesc
{
    width:75%;
}

.rentalElementAcces
{
    margin-top:40px;
}

.rentalElementMoreDetail
{
    font-weight:900;
    padding:5px;
    background:white;
    color:white;
    background-color:#D35758;
    margin-top:80px;
    width:82px;
}

.rentalElementMiddle
{
    margin-left:150px;
    margin-right:150px;
}

.resultItem
{   
    margin-bottom: 10px;
    overflow:auto;
    height: 135px;
    background: #f8f8f8;
    padding:10px;
}

.mainRowRental
{
    height:420px;
    margin-bottom:30px;
}

.width98
{
    width:98%;
}

.rDetailUpRight
{
    width:30%;
    height:100%;
}

.tagContainer
{
   border: 1px solid #FF7800;
   padding:10px 0 10px 5px;
}

.tagInput
{
   border:none;
}
.mytag
{
   background:#FF7800;
   color:#fff;
   padding:5px;
   margin-right:5px;    
}

.removeTag
{
    cursor:pointer;
}