/* Detail Rental Page
----------------------------------------------------------*/

.rentalDetailLeft
{
    width:61.5%;
}

.rentalDetailRight
{
    width:30%;
}

.rentalDesc
{
    margin-bottom:10px;
}

.rentalMap
{
    padding:2px;
    border: 1px solid #5dafde;
}

.rentalSummary
{
    height:128;
    width:250;
    margin:20px;
}

.rentalSummaryElem
{
    background:white;
    color:white;
    background-color:#D35758;
    margin-right:10px;
    height:32;
    width:100;
    font-size:1.5em;
    font-family:Arial,Helvetica,Sans-Serif;
    font-weight:600;
    border-width:20px;
    border-color:#D35758;
    padding:10px;
}

.rentalTitlered
{
    color: #D35758;
    font-size:2em;
    font-weight:bold;
}

.rentalTitle
{
    margin-left:0px;
    margin-top:20px;
}

.rentalMargin
{
    margin-bottom:5px;
    margin-top:15px;
}

/* Result Rental Page
----------------------------------------------------------*/

input#MaxRate.Rsrchcol,
input#MinRate.Rsrchcol,
input#MinSurface.Rsrchcol,
input#MaxSurface.Rsrchcol
{
    width:28%;
}

.width98
{
    width:98%;
}

/* Search Rental Page
----------------------------------------------------------*/

input#MaxRate,
input#MinRate,
input#MinSurface,
input#MaxSurface
{
    width:45%;
}

.mainRowRental
{
    height:330px;
}

.tagContainer
{
   border: 1px solid #FF7800;
   padding:10px 0 10px 5px;
}

.removeTag
{
    cursor:pointer;
    margin: 5px 0 3px 5px;
}

.halfContainerRental
{
    width: 47%;
    height:95%;
    background-image: url('images/rechercher2.png');
    background-repeat: no-repeat;
    background-position: 95% bottom;
    margin: 0!important;
}

.halfMiniContainer
{
    height:130px;
    width:50%;
}

.halfMiniContainer2
{
    height:40px;
    width:50%;
}

input#RentalData_AvailableDate
{
    width:46%;
    margin:0px;
}

select#RentalData_Type
{
    width:205px;
}

input#Place
{
    width:311px;
}

/* Items of the Result Rental Page
----------------------------------------------------------*/

.rentalItem
{   
    margin-bottom: 10px;
    overflow:auto;
    height: 110px;
    padding:10px;
}

.rentalItemGallery
{
    width:20%;
    height: 100%;
}

.rentalItemGallery img
{
    max-height: 110px;
}

.rentalItemDetailsDiv
{
    height: 100%; 
    width:75%;
    padding-left:10px;
}

.rentalItemHead
{
     margin-bottom:15px;
}

.rentalItemSurface
{
     margin-right:30px;
}