/* =============================================================================
   RESET
   ========================================================================== */


/*
  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:""; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

body
{
	margin:auto;
	height:auto;
	height:auto;
	font-size: .75em;
	font-family: Arial, Helvetica, Sans-Serif;
	color:Gray;
	line-height:1.4;
}

/*TEXT COLORS
----------------------------------------------------------*/
.white
{
	color:white;
}

.white a
{
	color:white;
}
.blue
{
	color:#5dafde;
}

.blue a
{
	color:#5dafde;
}

.lightblue
{
	color:#5ecaec;
}

.lightblue a
{
	color:#5ecaec;
}

.darkblue
{
	color:#2c3c4c;
}

.darkblue a
{
	color:#2c3c4c;
}

.green
{
	color:#bbd31f;
}

.green a
{
	color:#bbd31f;
}

.orange
{
	color:#f7a33a;
}

.orange a
{
	color:#f7a33a;
}

.grey
{
	color:#a1a1a1;
}

.grey a
{
	color:#a1a1a1;
}

.red
{
    color:#d25657;
}

.red a
{
    color:#d25657;
}

::selection { background: #3297FD; color: #fff; text-shadow: none; }

/* LINKS   
----------------------------------------------------------*/
a
{
	color:Gray;
	text-decoration: underline;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
	margin-bottom: 5px;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
html,
body 
{
	margin:0;
	padding:0;
	height:100%;
}

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
	width: 1000px; 
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	padding-bottom: 300px;/* Height of the footer element */
}

.wrapper
{
	position:relative;
	min-height: 100%;
}

/* Layout
----------------------------------------------------------*/

/* Header
----------------------------------------------------------*/
.headerContainer
{
	margin-bottom:30px;
    background: whiteSmoke;
	border-bottom: 1px solid #E5E5E5;
	height: 75px;
}

.header
{
	width: 1000px; 
	margin-left: auto;
	margin-right: auto;
}

.logo
{
	background-image: url('images/logo.png');
	/*width: 147px;*/
	width:30%;
	height: 47px;
	background-repeat: no-repeat;
	margin-top:15px;
}

.logo_beta
{
	background-image: url('images/logo.png');
}

.logo_nobeta
{
	background-image: url('images/logo_nobeta.png');
}

.headerMenu
{
    width:40%;
    text-align:center;
}

.headerMenu .buttonStd
{
    width: 90px;
    height: 40px;
    margin: 0;
    /*padding: 10px;*/
    font-size: 14px;
}

.ie7 .headerMenu .buttonStd
{
    margin-left:5px;
}

.loginContainer
{
    width:29%;
    margin-top:0!important; 
}

/*ajouter no repeat si besoin*/

/*#btn_register{ background-image:url('images/btn_register.png'); background-position: 0 0; width: 104px; height: 23px; } 
#btn_register:hover{ background-position: 0 -73px; } */

.logindisplay
{
	background-color:#f8f8f8;
	padding:10px;
}

.logindisplay p
{
	font-size:0.9em;
}

.nouveau_register
{
	/*width:200px;*/
}

.connect
{
	text-align:right;
}

.createAccount
{
	margin-top:10px;
}

*:first-child+html .lengthConnexionBox
{
	width: 130px;
	height:100%;
}

*:first-child+html .sizeHeaderConnexion
{
	width:85%;
	height:100%;
}

.ie7 .sizeHeaderConnexion
{
	width:85%;
	height:100%;
}

/* Footer
----------------------------------------------------------*/

.footer
{
	background-image:url('images/footer.jpg');
	background-repeat:repeat-x;
	height:275px;
	width:100%;
	/*position:relative;*/
	float: left;
	margin-top: 40px;
	font-size: 12px;
	line-height: 20px;
	position:absolute;
	bottom:0;
	left:0;
}

.footer a
{
	text-decoration:none;
	color: #999;
	font-style:normal;
}

.footer a:hover
{
	color:White;
}

.footer h1
{
	color: #f6f6f6;
	font-weight: bold;
}

.footer ul, ol
{
	margin:0;
	list-style-position: inside;
}

.worki_footer
{
	background:url('images/worki_footer.png') no-repeat;
	width:141px;
	height:47px;
	padding-right: 480px;
}

.follow_footer
{
	background:url('images/followUs_footer.png') no-repeat;
	width:249px;
	height:45px;
}

.footerTop
{
	margin:30px auto 0 auto;
	width:1000px;
	height:210px;
	border-bottom:2px solid silver;
}

.footerBottom
{
	margin:2px auto 0 auto;
	width:1000px;
}

.footerLinks 
{
	padding-top:15px;
	width: 200px;
}

.social_logo
{
	padding-top:20px;
	height:auto;
}

.logo-middle
{
	margin-left:5px;
}

.mail_footer{ background-image:url('images/logo_footer.png'); background-position: 0 0; width: 39px; height: 59px; } 
.fb_footer{ background-image:url('images/logo_footer.png'); background-position: 0 -109px; width: 39px; height: 59px; } 
.in_footer{ background-image:url('images/logo_footer.png'); background-position: 0 -218px; width: 39px; height: 59px; } 
.rss_footer{ background-image:url('images/logo_footer.png'); background-position: 0 -327px; width: 39px; height: 59px; } 
.tw_footer{ background-image:url('images/logo_footer.png'); background-position: 0 -436px; width: 39px; height: 59px; } 
.viadeo_footer{ background-image:url('images/logo_footer.png'); background-position: 0 -545px; width: 39px; height: 59px; }


/* OTHER HTML TAGS  
----------------------------------------------------------*/
/*code, blockquote
{
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  background: #fafafa;
  border: 1px solid #f2f2f2;  
  border-left: 3px solid #ff9622;
}

code
{
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
}

blockquote
{
	font: bold 1.2em/1.5em 'Trebuchet MS', Tahoma, sans-serif; 
	color: #666666;
}

ul, ol
{
	margin: 10px 30px;
	list-style-position: inside;
}

ul
{
	list-style-type: disc;
}

ol
{
	list-style-type: decimal;
}*/


/* Pager
----------------------------------------------------------*/
div.pager
{ 
	text-align:right;
	border-top: 2px solid #CCCCCC;
	padding: .5em 0 0 0;
	margin: 1em 0 0 0;
}

div.pager A 
{ 
	font-size: 1.1em; 
	color: #666; 
	text-decoration: none; 
	padding: 0 .4em 0 .4em;
	font-style:normal;
}

div.pager A:hover
{ 
	background-color: Silver; 
}

div.pager A.selected 
{ 
	background-color: #353535; 
	color: White;
}

div.pagerTop
{ 
	padding: 0;
	margin: 0 0 1em 0;
	border-top: 0;
}

.informationContainer
{
	text-align:center;
	background:whiteSmoke;
	border: 1px solid #E5E5E5;
	padding: 10px;
	margin: 5px 0;
}

/* BORDER
----------------------------------------------------------*/
.borderRadius
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.borderRadiusBottom
{
	-webkit-border-bottom-left-radius: 4px 4px;
	-webkit-border-bottom-right-radius: 4px 4px;
	-moz-border-bottom-left-radius: 4px 4px;
	-moz-border-bottom-right-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
}

/* BUTTON / LINK
----------------------------------------------------------*/

.buttonStd
{
	overflow: visible;
	padding: 5px 10px;
	color: white;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-image: initial;
	font-weight:bold;
	margin: 3px;
}

.buttonStd a
{
	color: white;
	text-align: center;
}

.buttonBlue
{
	border: 1px solid #5DAFDE;
	background-color: #5dafde;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5DAFDE, endColorstr=#449ed2);
	background-image: -moz-linear-gradient(top,#5DAFDE,#449ed2);
	background-image: -webkit-linear-gradient(top,#5DAFDE,#449ed2);
	background-image: linear-gradient(top,#5DAFDE,#449ed2);
}

.buttonBlue:hover
{
	background-color: #379ed6;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#88c7ec, endColorstr=#74b7de);
	background-image: -moz-linear-gradient(top,#88c7ec,#74b7de);
	background-image: -webkit-linear-gradient(top,#88c7ec,#74b7de);
	background-image: linear-gradient(top,#88c7ec,#74b7de);
}

.buttonOrange
{
	border: 1px solid #f9af52;
	background-color: #f9af52;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f9af52, endColorstr=#eb9916);
	background-image: -moz-linear-gradient(top,#f9af52,#eb9916);
	background-image: -webkit-linear-gradient(top,#f9af52,#eb9916);
	background-image: linear-gradient(top,#f9af52,#eb9916);
}

.buttonOrange:hover
{
	background-color: #e6a14a;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e6a14a, endColorstr=#e2941a);
	background-image: -moz-linear-gradient(top,#e6a14a,#e2941a);
	background-image: -webkit-linear-gradient(top,#e6a14a,#e2941a);
	background-image: linear-gradient(top,#e6a14a,#e2941a);
}

.buttonGreen
{
	border: 1px solid #bbd31f;
	background-color: #bbd31f;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#bbd31f, endColorstr=#d4f500);
	background-image: -moz-linear-gradient(top,#bbd31f,#d4f500);
	background-image: -webkit-linear-gradient(top,#d9d523,#aea842);
	background-image: linear-gradient(top,#bbd31f,#d4f500);
}

.buttonGreen:hover
{
	background-color: #bde185;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#bde185, endColorstr=#a2bb54);
	background-image: -moz-linear-gradient(top,#bde185,#a2bb54);
	background-image: -webkit-linear-gradient(top,#bde185,#a2bb54);
	background-image: linear-gradient(top,#bde185,#a2bb54);
}

.buttonRed
{
	border: 1px solid #d45558;
	background-color: #d45558;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d45558, endColorstr=#a42e2f);
	background-image: -moz-linear-gradient(top,#d45558,#a42e2f);
	background-image: -webkit-linear-gradient(top,#d45558,#a42e2f);
	background-image: linear-gradient(top,#d45558,#a42e2f);
}

.buttonRed:hover
{
	background-color: #e96063;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e96063, endColorstr=#c63132);
	background-image: -moz-linear-gradient(top,#e96063,#c63132);
	background-image: -webkit-linear-gradient(top,#e96063,#c63132);
	background-image: linear-gradient(top,#e96063,#c63132);
}

/*.btn_text
{
	color: white;
	text-align: center;
	padding: 4px 0 0 7px;
	font-size: 14px;
}

.btn_text a
{
	color: white;
	text-align: center;
	padding: 4px 0 0 7px;
	font-size: 14px;
}*/

/*.btn_orange_plus_right
{
	padding: 0 0 0 20px;
}*/

/*.btn_green_check
{
	color: white;
	text-align: center;
	padding-left: 20px;
	font-size: 14px;
}*/

/*.editionLink
{
    background: #DDD;
    padding: 5px;
}

.editionLink:hover
{
    background: #ccc;
}

.editionLink a
{
    text-decoration: none;
}*/

.boldLink
{
    font-weight:bold;
}

.boldLink a
{
    text-decoration:none;
}

/* MARGIN
----------------------------------------------------------*/

.marginb5
{
    margin-bottom:5px;
}

.marginl5
{
    margin-left:5px;
}

.marginl10
{
    margin-left:10px;
}

.marginl0
{
    margin-left:0px;
}

.marginr10
{
    margin-right:10px;
}

.margint15
{
    margin-top:15px;
}

.margint10
{
    margin-top:10px;
}

/* Map
----------------------------------------------------------*/
.mapContainer 
{
	border: solid 1px #63b3eb;
}

#detailMap 
{
	/*position: relative; 
	width: 220px;*/ 
	height: 220px;
}

span.pinTitle { color: blue; }

/* SUBMENU
----------------------------------------------------------*/

.tooltip
{
	position : absolute;
	top :0;
	left:0;
	z-index:3;
	display : none;
	}

#searchTooltip
{
	height:100px;
	width:320px;
	border: thick black solid; 
	border:5px;
	background: #00FF00;
	color: #fff;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
select
{
	width:213px;
	font-size: 12px;
	padding: 3px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	border: 1px solid #DEDFE4;
}

select:focus
{
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	border: 1px solid #5dafde;
}

input[type="text"], input[type="password"], textarea
{
	width:200px;
	font-size: 12px;
	padding: 3px 1px;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	border: 1px solid #DEDFE4;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	border: 1px solid #5dafde;
	background-color: #d5edfb;
}

textarea
{
	display:block;
	height: 100px;
}

label
{
	/*vertical-align:15%;*/
}

input, select, textarea
{
	margin: 3px;
}

li
{
	list-style:none;
}

/* TABLE
----------------------------------------------------------*/
table 
{
	border: solid 1px transparent;
}

table td 
{
	padding: 0px;   
	border: solid 1px transparent;
	vertical-align:middle;
}

table tr.row-alternate
{
	background-color: #E4E4E4; 
}


/* VALIDATION  
----------------------------------------------------------*/
.error
{
	color: #ff0000;
}

.field-validation-error
{
	color: #ff0000;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	padding: 10px 10px 10px 35px;
	margin: 10px 0;
	border: 1px solid #dfdfdf;
	color: #ff0000;
	font-weight: bold;
	background: #fcf9ce url(icons/error.gif) 5px 6px no-repeat;
}

.errorMessage, .warningMessage, .infoMessage
{
	padding: 10px 10px 10px 35px;
	margin: 5px 0;
	border: 1px solid #DFDFDF;
	color: #333333;
	font-weight: bold;
}

.errorMessage
{
	background: #fcf9ce url(icons/error.gif) 5px 6px no-repeat;
}

.warningMessage
{
	background: #fcf9ce url(icons/exclamation.gif) 5px 6px no-repeat;
}

.infoMessage
{
	background: #fcf9ce url(icons/info.gif) 5px 6px no-repeat;
}

/* TITLE  
----------------------------------------------------------*/
.titleDiv
{
    position:relative;
	color:White;
	padding:3px 7px 2px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 15px;
}

.titleDiv:after
{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px 10px 0 0;
    border-style: solid;
    display: block;
    width: 0;
}

.titleDiv h1
{
	font-size:1.2em;
	margin:0;
}

.titleGreen
{
	background-color:#bbd31f;
}

.titleGreen:after
{
    border-color: #bbd31f transparent;
}

.titleOrange
{
	background-color:#f7a33a;
}

.titleOrange:after
{
    border-color: #f7a33a transparent;
}

.titleBlue
{
	background-color:#5dafde;
}

.titleBlue:after
{
	border-color: #5DAFDE transparent;
}

.titleRed
{
	background-color:#D35758;
}

.titleRed:after
{
    border-color: #D35758 transparent;
}

/* FOOTER PAGES TEXT  
----------------------------------------------------------*/

.generalTextContainer
{
	padding:10px;
}

.generalTextContent
{
	width: 80%;
	margin-top: 40px;
	background: #f8f8f8;
	padding: 10px;
}

.generalTextContent p
{
	padding-bottom:25px;
}

.generalTextContent ul
{
	margin:10px 30px;
}

.generalTextContent li
{
	list-style: disc;
	margin-bottom:10px;
}

.generalTextContent h2
{
	text-align: center;
    margin: 10px 0;
}

h2.faqTitle
{
	margin-top:30px;
}

/* IMAGE LAYOUT
----------------------------------------------------------*/

.centerImg
{
	height: 100%;
	width: 100%;
}

.centerImg table
{
	height: 100%;
	width:100%;
	border:0;
	table-layout: fixed;
}

.centerImg td
{
	vertical-align:middle;
	text-align:center;
	border:0;
}

.centerImg img
{
	max-width:100%;
	vertical-align: middle;
	text-align: center;
}

.picBack
{
	background: #fdfdfd;
}

.picBackEmpty
{
	background: #fdfdfd url('images/favicon.png') no-repeat center center;
	width: 100%;
	height: 100%;
}

.borderedImg
{
    padding:2px;
    border:1px solid #ccc;
}

/*TABS
----------------------------------------------------------*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	width: 100%;
}

ul.tabs li:first-child
{
    margin:0 5px 0 0;
}

/*.buttonStd
{
	overflow: visible;
	padding: 5px 15px;
	color: white;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-image: initial;
	font-weight:bold;
	margin: 3px;
}

.buttonStd a
{
	color: white;
	text-align: center;
}

.buttonBlue
{
	border: 1px solid #5DAFDE;
	background-color: #5dafde;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5DAFDE, endColorstr=#4787ed);
	background-image: -moz-linear-gradient(top,#5DAFDE,#4787ed);
	background-image: -webkit-linear-gradient(top,#5DAFDE,#449ed2);
	background-image: linear-gradient(top,#5DAFDE,#4787ed);
}

.buttonBlue:hover
{
	background-color: #379ed6;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#379ed6, endColorstr=#4787ed);
	background-image: -moz-linear-gradient(top,#379ed6,#4787ed);
	background-image: -webkit-linear-gradient(top,#88c7ec,#74b7de);
	background-image: linear-gradient(top,#379ed6,#4787ed);
}*/

ul.tabs li
{
	float: left;
	margin: 0 5px;
	padding: 0;
	height: 30px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 30px; /*--Vertically aligns the text within the tab--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e0e0e0, endColorstr=#cac8c8);
	background-image: -moz-linear-gradient(top,#e0e0e0,#cac8c8);
	background-image: -webkit-linear-gradient(top,#e0e0e0,#cac8c8);
	background-image: linear-gradient(top,#e0e0e0,#cac8c8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    text-align: center;
    color:White;
}


ul.tabs li a 
{
	text-decoration: none;
	display: block;
	padding: 0 10px;
	outline: none;
	color:White;
}

ul.tabs li a:hover 
{
	background: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ccc, endColorstr=#a8a8a8);
	background-image: -moz-linear-gradient(top,#ccc,#a8a8a8);
	background-image: -webkit-linear-gradient(top,#ccc,#a8a8a8);
	background-image: linear-gradient(top,#ccc,#a8a8a8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul.tabs li.active, ul.tabs li.active a
{ /*--Makes sure that the active tab does not listen to the hover properties--*/
  	background-color: #5dafde;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5DAFDE, endColorstr=#4787ed);
	background-image: -moz-linear-gradient(top,#5DAFDE,#4787ed);
	background-image: -webkit-linear-gradient(top,#5DAFDE,#449ed2);
	background-image: linear-gradient(top,#5DAFDE,#4787ed);
    color:White;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

html ul.tabs li.active a:hover
{ /*--Makes sure that the active tab does not listen to the hover properties--*/
	background-color: #379ed6;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#379ed6, endColorstr=#4787ed);
	background-image: -moz-linear-gradient(top,#379ed6,#4787ed);
	background-image: -webkit-linear-gradient(top,#88c7ec,#74b7de);
	background-image: linear-gradient(top,#379ed6,#4787ed);
}

.tab_container
{
	/*border: 1px solid #999;*/
	/*overflow: hidden;*/
	clear: both;
	float: left; 
	width: 100%;
}

.tab_content
{
	padding: 10px 0;
}

/*ACCORDEON
----------------------------------------------------------*/
.arrow_down{ background-image:url('images/arrow.png'); background-position: 0 0; width: 22px; height: 22px; } 
.arrow_left{ background-image:url('images/arrow.png'); background-position: 0 -72px; width: 22px; height: 22px; }

.arrow_down_red{ background-image:url('images/arrow_red.png'); background-position: 0 0; width: 22px; height: 22px; } 
.arrow_left_red{ background-image:url('images/arrow_red.png'); background-position: 0 -72px; width: 22px; height: 22px; } 

.acc_trigger, .toogle_trigger
{
	padding: 0;	
	margin-bottom:10px;
	margin-left: 5px;
	background: url('images/arrow.png') no-repeat 0 -72px;
	height: 22px;
	line-height: 22px;
	float: left;
	width: 100%;
}

.acc_trigger span, .toogle_trigger span
{
	text-decoration: none;
	display: block;
	padding: 0 0 0 30px;
	cursor:pointer;
}

.toogle_trigger_red
{
	padding: 0;	
	margin-bottom:10px;
	margin-left: 5px;
	background: url('images/arrow_red.png') no-repeat 0 -72px;
	height: 22px;
	line-height: 22px;
	float: left;
	width: 100%;
}

.toogle_trigger_red span
{
	text-decoration: none;
	display: block;
	padding: 0 0 0 30px;
	cursor:pointer;
}

.acc_trigger span:hover, .toogle_trigger span:hover
{
	color: gray;
}

.active
{
    background-position: 0 0;
}

.acc_container, .toogle_container
{
	margin-bottom: 5px;
	padding: 0;
	overflow: hidden;
	clear: both;
	/*background: #f0f0f0;*/
	/*border: 2px solid #DEDFE4;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.acc_container .block, .toogle_container .block
{
	padding: 0 10px;
}

/*BLOCKS LAYOUT
----------------------------------------------------------*/

.detailContent
{
    margin-top: 10px;
    border:1px solid #CCCCCC;
    background-color: #F8F8F8;
    box-shadow: 2px -5px 10px #DDD;
    /*padding:20px;*/
}

.blockContainer
{
    padding:20px;
    line-height: 1.6;
}

.dashedRight
{
    border-right: 1px dashed #CCC;
}

.dashedLeft
{
    border-left: 1px dashed #CCC;
}

.contentBlock
{
    padding:10px;
    border:1px solid #CCCCCC;
    margin:10px 0;
    background-color: White;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 4px 4px 10px #DDD;
}

.contentBlock:first-child
{
    margin-top:0;
}

.contentBlock:last-child
{
    margin-bottom:0;
}
/*FEATURE TAG
----------------------------------------------------------*/

.featureTag ul
{
    margin: 0;
    padding: 0;
}

.featureTag li
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 0 3px 6px 0;
    background-color: #EEE;
    float: left;
}

/*FORM TABLE
----------------------------------------------------------*/

.generalInfosTable
{
    margin-top:5px;
}

.generalInfosTable input[type="text"], .generalInfosTable input[type="password"]
{
    width:400px;
}

.generalInfosTable select
{
  width: 414px;
}

.generalInfosTable textarea
{
    width:400px;
}

/*SHARED STYLES
----------------------------------------------------------*/

.bigPictureContainer
{
    width: 47%;
    height: 310px;
}

.bigPictureContainer img { width:100%; height:100%;}
*:first-child+html .bigPictureContainer img { width:100%; height:100%;}

.adRow
{
    margin-top:30px;
}

.indexGallery
{
	margin: 0!important;
	padding: 0!important;
    width: 52%;
}

.indexGallery a
{
    font-weight:bold;
    font-size:1.1em;
    text-decoration:none;
}

.indexGalleryTitle .titleDiv
{
	margin:0;
}

.indexGalleryTitle
{
	height:20px;
	padding: 15px;
}

.imageContainer
{
   width: 130px;
   height: 120px;
}

.imageContainer img
{
    max-height:120px;
}

.imageDescription
{
   width: 130px;
   margin-top:5px;
   text-align:center;   
}

.imageDescription p
{
   text-align:left;   
}

.contactDiv
{
    padding-left:300px;
}

.contactDiv input[type="text"]
{
    width:230px;
}

.contactDiv textarea
{
    width:230px;
}

.contactDiv td
{
    padding:2px;
}

.contactDiv td:first-child
{
    text-align:right;
}

.searchFormContainer
{
    background-image:url('images/rechercher2.png');
    background-repeat:no-repeat;
    background-position:95% bottom;
    margin:0!important;
    height:310px;
}

.searchFormDiv
{
    padding: 10px;   
}

.searchFormDiv input[type="text"]
{
    width:250px;
}

.searchFormDiv select
{
  width: 265px;
}

.backToResult
{
    margin-left:0;
}

/*.mainRow
{
    height:330px;
    margin-bottom:30px;
}*/

.serviceIcones_coffee_h{ background-image:url('images/serviceIcones.png'); background-position: 0 0; width: 28px; height: 28px; } 
.serviceIcones_coffee_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -78px; width: 28px; height: 28px; } 
.serviceIcones_coffee_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -156px; width: 28px; height: 28px; } 
.serviceIcones_handicap_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -234px; width: 28px; height: 28px; } 
.serviceIcones_handicap_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -312px; width: 28px; height: 28px; } 
.serviceIcones_handicap_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -390px; width: 28px; height: 28px; } 
.serviceIcones_meeting_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -468px; width: 29px; height: 28px; } 
.serviceIcones_meeting_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -546px; width: 29px; height: 28px; } 
.serviceIcones_meeting_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -624px; width: 29px; height: 28px; } 
.serviceIcones_parking_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -702px; width: 28px; height: 28px; } 
.serviceIcones_parking_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -780px; width: 28px; height: 28px; } 
.serviceIcones_parking_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -858px; width: 28px; height: 28px; } 
.serviceIcones_resto_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -936px; width: 28px; height: 28px; } 
.serviceIcones_resto_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -1014px; width: 28px; height: 28px; } 
.serviceIcones_resto_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -1092px; width: 28px; height: 28px; } 
.serviceIcones_secr_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -1170px; width: 28px; height: 28px; } 
.serviceIcones_secr_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -1248px; width: 28px; height: 28px; } 
.serviceIcones_secr_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -1326px; width: 28px; height: 28px; } 
.serviceIcones_wifi_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -1404px; width: 28px; height: 28px; } 
.serviceIcones_wifi_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -1482px; width: 28px; height: 28px; } 
.serviceIcones_wifi_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -1560px; width: 28px; height: 28px; } 
.serviceIcones_wifip_h{ background-image:url('images/serviceIcones.png'); background-position: 0 -1638px; width: 28px; height: 28px; } 
.serviceIcones_wifip_off{ background-image:url('images/serviceIcones.png'); background-position: 0 -1716px; width: 28px; height: 28px; } 
.serviceIcones_wifip_on{ background-image:url('images/serviceIcones.png'); background-position: 0 -1794px; width: 28px; height: 28px; }  

.crossButton
{
    margin-top: 9px;
    border:none;
}
.cross{ background-image:url('images/cross.png'); background-position: 0 0;width: 12px; height: 12px; background-repeat:no-repeat; } 
.cross:hover{ background-image:url('images/cross.png'); background-position: 0 -62px; width: 12px; height: 12px; background-repeat:no-repeat; }

.ie7 .inline-block
{
    float:left;
    display:block;
}

.ie7 .halfContainer
{
	height:36px;
}

.searchFormBlockLeft
{
	margin:10px;
}

.searchFormBlock
{
	padding:10px;
    width:24.5%;
}

.ie7 .searchFormBlock
{
	padding:8px;
}

.resultDiv
{
    width: 72.5%;
}
