/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

@charset "utf-8";
/* MISE EN PAGE */

body {
	background-color:#bfd0dd;
	background-image: url(images/visitor_backg.jpg);
	background-repeat:no-repeat;
	background-position: center top;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

}
.contener {
	margin : auto;
	padding: auto;
	width: 1024px;
	height: auto;
}
#slogan{
	width:408px;
	height:37px;
	background-repeat:no-repeat;
	z-index:4;
	position: relative;
	margin-left: 562px;
	background-image: url(images/visitor_slogan.png);
	margin-top: -38px;
}
#logo {
	background-image:url(images/visitor_logo.png);
	background-repeat:no-repeat;
	height:159px;
	width:auto;
	position:relative;
	margin:auto;
	margin-top:25%;
	z-index:3;
	background-position: center center;
	
}
#strip {
	background-color:#FFF;
	height:205px;
	width:99%;
	position:absolute;
	z-index:2;
	opacity : 0.3;
	-moz-opacity : 0.1;
	-ms-filter: "alpha(opacity=10)"; /* IE 8 */
	filter : alpha(opacity=10);
	margin-top: -35px;
}
#shadow {
	/*background-image:url(images/shadow.png);*/
	width:803px;
	height:196px;
	z-index:1;
	position:relative;
	margin:auto;
	margin-top:-100px;
}
.reseaux {
	width:360px;
	height:60px;
	position:relative;
	margin: auto;
	margin-top:-60px;
}
#fb {
	background-image:url(images/visitor_fb.png);
	background-repeat:no-repeat;
	height:66px;
	width:64px;
	position:relative;
	float:left;
	z-index:5;
	
}
#tw{
	background-image:url(images/visitor_tw.png);
	background-repeat:no-repeat;
	height:66px;
	width:64px;
	position:relative;
	float:right;
	z-index:5;
}
#fb:hover {
	background-image:url(images/visitor_fb_up.png);
}
#tw:hover{
	background-image:url(images/visitor_tw_up.png);
}
.reseaux_text {
	width:600px;
	height:50px;
	position:relative;
	margin: auto;
	font-size:12px;
}
.texte {
	width:200px;
	height:auto;
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	text-align: center;
	padding-right:50px;
	padding-left:50px;
}
#soon {
	background-image:url(images/visitor_bientot.png);
	background-repeat:no-repeat;
	width:334px;
	height:49px;
	position:relative;
	margin:auto;
}
.mail {
	width:450px;
	height:auto;
	margin:auto;
	padding: auto;
}

/**FORM**/

input[type="text"], input[type="password"]
{
    width:400px;
	outline:none;
	height:25px;
    color: #6F6F6F;
	border: solid 2px #DFDFDF;
	font-family:Verdana, Geneva, sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus
{
    border:solid 2px #84a0b2;
	color:#000;
}
	input[type="submit"] {
	height:32px;
	color:#333;
	border: thin solid #FFF;
	margin-left: -2px;
	}
	input[type="submit"]:hover {
	background-color:#84a0b2;
	}
h1{
	font-size:24px;
	color:#313648;
	font-weight: lighter;
}
#formTitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#313648;
	font-weight: bold;
	/*text-align: center;*/
}