@model SearchSingleResultViewModel

@{  
    //var dict = Model.Criteria.GetDictionnary();
    //var rvd = new RouteValueDictionary(dict);
    var back = Url.RequestContext.HttpContext.Request.UrlReferrer.PathAndQuery;
}

@section HeadContent
{
    <title>search a place</title>
}

<div>
    @Model.Localisation.Name
</div>

<a href="@back">retour</a>