<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>search a place</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@Links.Content.scss.bootstrap_css" type="text/css" rel="stylesheet">
    <link href="@Links.Content.scss.responsive_css " type="text/css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <form class="well">
            <label>Label name</label>
            <input type="text" class="span3" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label class="checkbox">
            <input type="checkbox"> Check me out
            </label>
            <button type="submit" class="btn">Submit</button>
        </form>
        </div>
      </div>
    </div>

  </body>
</html>