@model OfferPrice
		   
@{
    var select = new SelectList(Offer.GetPaymentPeriodTypes(), "Key", "Value", Model.PriceType);
    var bciName = Url.IsInArea("Backoffice", true) ? "InnerModel.Offer.OfferPrices" : "Offer.OfferPrices";
}

<tr class="offerPricesRow">
@{
    using (Html.BeginCollectionItem(bciName))
    { 
        <td>
            @Html.HiddenFor(m => m.PriceType)
            @Html.LabelFor(m => m.Price, Worki.Resources.Models.Offer.Offer.PriceBy + " " + Offer.GetPaymentPeriodType(Model.PriceType))<span class="blue">*</span>
        </td>
        <td>
		    @Html.TextBoxFor(m => m.Price)
        </td>
    }
}
</tr>