@model OfferPrice
		   
@{
    var bciName = Url.IsInArea("Backoffice", true) ? "InnerModel.Offer.OfferPrices" : "Offer.OfferPrices";
}
<div class="offerPricesRow">
	@using (Html.BeginCollectionItem(bciName))
	{
		@Html.LabelFor(m => m.PriceType, new { style="width:40%; display:inline-block;" })
        @Html.HiddenFor(m => m.PriceType)
		@Html.LabelFor(m => m.Price)
		@Html.TextBoxFor(m => m.Price)
	}
</div>