@model OfferCounterModel

<div class="marginl10">
    @if (Model.OfferLists.Count > 0)
    {
    <table class="offersListTable marginb5">
    @foreach (var offerType in Model.OfferLists.Keys)
    {
        var offersOfType = Model.OfferLists[offerType];
        <tr>
            <th>
                <div class="orange margint5">@Localisation.GetOfferType((int)offerType)</div>
            </th>
        </tr>
        foreach (var offer in offersOfType)
        {
        @Html.Partial(MVC.Offer.Views._OfferItem, new OfferFormListModelItem { Offer = offer, IsSharedOffice = Model.IsSharedOffice })
        }
    }
    </table>
    }
    else
    {
        <div class="italic marginb10">
            Pas encore d'offre pour le moment.
        </div>
    }
</div>