@model Worki.Data.Models.Offer

<tr>
	<td>@Model.Name</td>
	<td>@Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.Edit, Url.IsInArea("Backoffice") ? MVC.Backoffice.Offer.Edit(Model.LocalisationId, Model.Id) : MVC.Offer.AjaxEdit(Model.Id))</td>
	<td><div class="cross linkImg" title="@Worki.Resources.Views.Shared.SharedString.Delete">@Html.ActionLink(" ", MVC.Offer.AjaxDelete(Model.Id))</div></td>
</tr>