/*
   jeudi 18 août 201122:34:37
   User: 
   Server: .\SQLEXPRESS
   Database: 
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Rental ADD CONSTRAINT
	DF_Rental_Reference DEFAULT '' FOR Reference
GO
ALTER TABLE dbo.Rental
	DROP COLUMN Name
GO
ALTER TABLE dbo.Rental SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Rental', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Rental', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Rental', 'Object', 'CONTROL') as Contr_Per 