@model SearchCriteriaFormViewModel

@section HeadContent
{
    <title>search a place</title>
}


@Html.Partial(MVC.Widget.Localisation.Views._SearchForm)

@section ScriptContent
{
    <script type="text/javascript">
        $('#submitSearch').click(function () {
            $('#searchForm').submit();
            return false;
        });
    </script>
}
