@model Worki.Data.Models.LogOnModel 
<div class="visitorDesc">
<p>@Worki.Resources.Views.Visitor.VisitorString.SetUserMail
</p>
</div>
<div class="visitorForm">
@using (Html.BeginForm(MVC.Account.ActionNames.LogOn,MVC.Account.Name,FormMethod.Post))
{ 
   @Html.AntiForgeryToken()
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Login, new { placeholder = Worki.Resources.Models.Account.AccountModels.Email })
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password, new { placeholder = Worki.Resources.Models.Account.AccountModels.Password })&nbsp;&nbsp;@Html.ActionLink(Worki.Resources.Views.Account.AccountString.ForgottenPassword, MVC.Account.ResetPassword())
    </div>
    <input type="submit" class="buttonStd buttonBlue" value="Connexion" name="login"/>
} 
</div> 
