@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Visitor.VisitorString.eWorky)</title>
}

<div class="detailContent">
    @RazorHelpers.TitleDiv(Worki.Resources.Views.Visitor.VisitorString.EWBetaPrivate, "Blue")

    <p>
        @Worki.Resources.Views.Visitor.VisitorString.SuccessAsk
    </p>
</div>