@model	OfferQuotationViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Quoations)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Item.LocalisationId, LocalisationMainMenu.Offers));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Offer.VerticalMenu(Model.Item.Id, (int)OfferMenu.Quotation));}
	</div>

	<div class="blockContainer float-left contentRight">
		@{Html.RenderAction(MVC.Backoffice.Offer.OfferDropdown(Model.Item.Id, (int)OfferMenu.Quotation));}
        <div class="contentBlock">
            @Html.Partial(MVC.Backoffice.Shared.Views._QuotationList, new QuotationListViewModel
            {
                Quotations = Model.List,
                Title = Model.Item.Name,
				UrlMaker = x => Url.Action(MVC.Backoffice.Offer.Quotation(Model.Item.LocalisationId, Model.Item.Id, x)),
                EmptyMessage = Worki.Resources.Views.BackOffice.BackOfficeString.NoWorkingQuotation
            })

        </div>
	</div>
	<div class="clear"></div>
</div>

@section ScriptContent
{
	<script type="text/javascript">
		require(["@Links.Scripts.dropdown_js"], function () {
			InitDropdown("#@DropDownModel.OfferDD");
		});
	</script>
}