@model QuotationListViewModel

@if (Model.Quotations.List.Count != 0)
{
    <ul>
    @foreach (var quotation in Model.Quotations.List)
    {
        @Html.Partial(MVC.Backoffice.Shared.Views._QuotationItem, quotation)
    }
    </ul>
    <div class="pager">
        @Html.PageLinks(Model.Quotations.PagingInfo, Model.UrlMaker)
    </div>  
}
else
{
    <div class="emptyContent italic">
        @Html.Raw(string.Format(Worki.Resources.Views.BackOffice.BackOfficeString.NoWorkingQuotation, Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Offers, MVC.Backoffice.Home.Localisations())))
    </div>
}