.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.loaderBlock {
  position: absolute;
  z-index: 999999999; }

.loaderBlock img {
  padding-right: 12px;
  vertical-align: middle; }

.loaderBlockBig {
  top: 75px;
  left: 200px;
  padding: 50px;
  font-size: 30px; }

.loaderBlockBig img {
  width: 64px;
  height: 64px; }

.loaderBlockSmall {
  top: 50px;
  left: 60px;
  padding: 10px;
  font-size: 1.2em; }

.loaderBlockSmall img {
  width: 32px;
  height: 32px; }

#resultsMap img {
  max-width: none; }

.result-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 8px 0;
  padding: 9px 12px; }

.result-item:hover {
  background-color: whiteSmoke; }
