// Core variables and mixins
//@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "widget-mixins";

/*************************************************/
/*General style*/
/*************************************************/
body 
{
	font-family: 'PT Sans', Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
	list-style:none;
}

.loaderBlock
{
	position: absolute;
	z-index: 999999999;

	img
	{
		padding-right: 12px; 
		vertical-align: middle;
	}
}

.loaderBlockBig
{
	top: 75px;
	left: 200px;
	padding: 50px;
	font-size: 30px;

	img
	{
		width:64px;
		height:64px;
	}
}

.loaderBlockSmall
{
	top: 50px;
	left: 60px;
	padding: 10px;
	font-size: 1.2em;

	img
	{
		width:32px;
		height:32px;
	}
}

.powered
{
	margin: 5px 0;
	font-size: 0.8em;

	a, a:hover
	{
		vertical-align: bottom;
		color: #a8b8b8;
	}
}

.modal-open .dropdown-menu 
{
	z-index: 1030;
}

/*************************************************/
/*Index style*/
/*************************************************/

#search-more
{
	input[type="checkbox"]
	{
		margin-top:0;
		margin-right: 5px;
	}

	label
	{
		display: inline;
	}
}
 
/*************************************************/
/*Map style*/
/*************************************************/

#resultsMap img,  #detailMap img 
{
    max-width: none;
}

.map-item
{
	width: 370px;
	height: 120px;

	img 
	{
		width: 180px;
		height: 120px;
	}
}

/*************************************************/
/*Result list style*/
/*************************************************/

.result-item
{
	border: 1px solid rgba(0, 0, 0, .1);
	@include border-radius(6px);
	margin: 8px 0;
	padding: 9px 12px;

	&:hover 
	{ 
		background-color: $lightColor; 
	}

	img
	{
		width: 170px;
		height: 115px;
	}
}

.result-info
{
	height: 115px;
	border-right: 1px dashed #CCC;
}

.result-features
{
	position: absolute;
	bottom: 0px;
}

.result-offers li
{
	border-bottom:1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 5px;

	&:last-child
	{
		margin-bottom: 0;
	} 
}

/*************************************************/
/*Detail style*/
/*************************************************/

#detail-gallery
{
	img
	{
		width: 400px;
		height: 280px;
	}

	.carousel-control
	{
		top:50%;
	}
}

.detail-description
{
	height:280px;
}

.detail-map
{
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#detailMap 
{
	position: relative;
	height: 150px;
}

.offer-item
{
	height:115px;
	border-right: 1px dashed #CCC;
}

.offer-prices
{
	height:115px;

	li
	{
		border-bottom:1px solid #ccc;
		margin-bottom: 5px;
		padding-bottom: 5px;
	}

	.btn
	{
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

/*************************************************/
/*Booking style*/
/*************************************************/

.halfDaySelector
{
	label
	{
		display: inline;
	}

	input[type="radio"]
	{
		margin: 0;
	}
}

#MemberBooking_TimeUnits
{
	width: 120px;
}