// Core variables and mixins
//@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";

body 
{
	font-family: 'PT Sans', Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

[class^="icon-"], [class*=" icon-"] 
{
	vertical-align: -15%;
}

.modal-open .dropdown-menu 
{
	z-index: 1030;
}

.modal form
{
	margin: 0;
}

.halfDaySelector label
{
	display: inline;
}

.halfDaySelector input[type="radio"]
{
	margin: 0;
}

#MemberBooking_TimeUnits
{
	width: 120px;
}

.orange
{
	color:#f88f1e;
}

.swc .orange
{
	color: #5dafde;
}

.blue
{
	color:#5dafde;
}

li
{
	list-style:none;
}

.loaderBlock
{
	position: absolute;
	z-index: 999999999;
}

.loaderBlock img
{
	padding-right: 12px; 
	vertical-align: middle;
}

.loaderBlockBig
{
	top: 75px;
	left: 200px;
	padding: 50px;
	font-size: 30px;
}

.loaderBlockBig img
{
	width:64px;
	height:64px;
}

.loaderBlockSmall
{
	top: 50px;
	left: 60px;
	padding: 10px;
	font-size: 1.2em;
}

.loaderBlockSmall img
{
	width:32px;
	height:32px;
}

#search-more input[type="checkbox"]
{
	margin-top:0;
	margin-right: 5px;
}

#search-more label
{
	display: inline;
}

#resultsMap img,  #detailMap img 
{
    max-width: none;
}

.result-item
{
	border: 1px solid rgba(0, 0, 0, .1);
	@include border-radius(6px);
	margin: 8px 0;
	padding: 9px 12px;
}

.result-item:hover
{
	background-color: whiteSmoke;
}

.result-item img 
{
	width: 170px;
	height: 115px;
}

.result-info
{
	height: 115px;
	border-right: 1px dashed #CCC;
}

.result-features
{
	position: absolute;
	bottom: 0px;
}

.result-offers ul
{
    margin: 0;
    padding: 0;
}

.result-offers li
{
	border-bottom:1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.result-offers li:last-child
{
	margin-bottom: 0;
}

#detail-gallery img
{
	width: 400px;
	height: 260px;
}

#detail-gallery .carousel-control
{
	top:50%;
}

.detail-description
{
	height:260px;
}

.detail-map
{
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.map-item
{
	width: 370px;
	height: 120px;
}

.map-item img
{
	width: 180px;
	height: 120px;
}

#detailMap 
{
	position: relative;
	height: 150px;
}

.offer-item
{
	height:115px;
	border-right: 1px dashed #CCC;
}

.offer-prices
{
	height:115px;
}

.offer-prices ul
{
    margin: 0;
    padding: 0;
}

.offer-prices li
{
	border-bottom:1px solid #ccc;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.offer-prices .btn
{
	position: absolute;
	bottom: 0;
	right: 0;
}
