<!doctype html>
<html>
    <head>
        <title>Error</title>
        <style type="text/css">
            html, body {
                overflow: hidden;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
            }
            iframe {
                width: 100%;
                height: 100%;
                border: 0px;
            }
        </style>
    </head>
    <body>
        @Worki.Resources.Views.Shared.SharedString.Error
    </body>
</html>