@model BookingListViewModel

@if (Model.PageList.List.Count != 0)
{
    <ul>
    @foreach (var booking in Model.PageList.List)
    {
        @Html.Partial(MVC.Dashboard.Shared.Views._BookingItem, booking)
    }
    </ul>
    <div class="pager">
        @Html.PageLinks(Model.PageList.PagingInfo, Model.UrlMaker)
    </div>  
}
else
{
    <div class="emptyContent italic">
        @Html.Raw(Model.EmptyMessage)
    </div>
}