@model Worki.Data.Models.PagingList<Localisation>

@{
	var a_class = ViewData.ContainsKey(ProfilConstants.TabId) ? (string)ViewData[ProfilConstants.TabId] : "";
	var pageUrl = ViewData.ContainsKey(ProfilConstants.PageUrl) ? (Func<int, string>)ViewData[ProfilConstants.PageUrl] : null;
}

<ul>
    @foreach (var loc in Model.List.OrderByDescending(x => x.ID))
	{ 
        @Html.Partial(MVC.Dashboard.Shared.Views._LocalisationItem, new LocalisationItem{ Localisation = loc, Url = loc.GetDetailFullUrl(Url) })
	}
</ul>
<div class="clear">
</div>
<div class="pager @(a_class)">
    @Html.PageLinks(Model.PagingInfo, pageUrl, a_class)
</div>