@model SummaryViewModel

<div class="summaryContainer innerContentBlock padding10 float-left">
    <div class="summaryImage">
        @RazorHelpers.CenterImage(ControllerHelpers.GetUserImagePath(Model.ImagePath), Model.ImageAlt)
    </div>
    <div class="summaryIntro">
        @foreach (var item in Model.Descriptions)
        { 
			@item.Value <br />
        }
    </div>
    <div class="clear"></div>
</div>