<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configProtectionProvider="CustomProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>rsaKey</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>eEtjnX1xQl92VAevgRHcfycsPPkX6vzAwb3BWzDC6lIevKD5Lfjr045w8vml1UFkOXMGXff8LWomlV9fLd1cEjJNMNCtz0V67BMLCi+SZf2FOh235EHwEHMzPW8Mmh0DtIECjd7Fxnc/pbu8hJZPNctMvZnsumPhzKJJzPHW62g=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>+9bOht5loQzoLzuW1PN1aUSqVZnY/oQiQ7tatLrWKk39ksaqpwiwTB90pjXUYbq647XbjeruD/3F3FBKsaMt4uZE0ScAzldm9xqFChTt/gSWAU5nOSBUr8nRaLyeKSoMe9L4G+5Z3WJGp+1d4pOLyc9MHO503VcrRW2jybE3+92rZublZI0WbzQpiaycgGsl7teMxSNdJXdh2XgAKUXhmK1RnuQkfCbff1bXbNKlacT15ByO0ZPF15Omv+ql9UHJFRKKZLdSluzAmBILhPy14wFXuAwAvsi2J++BUu0SKq3EXkI6ploPt/Vnh9P0x1rYdNKp3qxokOskIm4qAh/vzRaQXb5VRjiLh4/rZHtiUxR3G7R2qYy0tkCWjk+pVFRLKNTf9P6I1y0XXmWHUXvCXx8m+NT1U19+GZ2x+xt++9dIsR0QT0SI3dyza+/d77ukmUFYLpZkIxutrzinlVWrCo3WDL1XkQTSXH5iIfEijQ+pn4ZKewdb3GfEScrP7xewsRJcO6jmy8t5fv/GIZfHSmBUCjVbXU/IuA4NQj6lgr9Nidz2FkxUID5PnllZgRsq9NhrkNgZgNLMbeZJgNVWkCn+ybKmLM+9tmyZAEhzbCwFv4oS0LBJ+cgErvi6sM82cX+Ru8/fjWmGJs0DrtJLLRWzXe2jyTSEFOwjfLWtATBApm/P1Rikc5VAPeKT5h0d</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
	<!-- Cache exposes two endpoints: one simple and other SSL endpoint. Choose the appropriate endpoint depending on your security needs. -->
	<dataCacheClients xdt:Transform="Replace">
		<dataCacheClient name="default">
			<hosts>
				<host name="workiCache.cache.windows.net" cachePort="22233" />
			</hosts>
			<securityProperties mode="Message">
				<messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
			</securityProperties>
		</dataCacheClient>
		<dataCacheClient name="SslEndpoint">
			<hosts>
				<host name="workiCache.cache.windows.net" cachePort="22243" />
			</hosts>
			<securityProperties mode="Message" sslEnabled="true">
				<messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
			</securityProperties>
		</dataCacheClient>
	</dataCacheClients>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
		<sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider" xdt:Transform="Insert">
			<providers>
				<add name="AppFabricCacheSessionStoreProvider"
						 type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
						 cacheName="default"
						 useBlobMode="true"
						 dataCacheClientName="default" />
			</providers>
		</sessionState>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="/Home/Error" xdt:Transform="Insert">
      <error statusCode="404" redirect="/Home/Error" />
    </customErrors>
  </system.web>
  <appSettings>
    <add key="IsAzureDebug" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureBlobContainer" value="files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>