<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <connectionStrings>
    <add name="WorkiDBEntities" connectionString="metadata=res://*/Models.WorkiDB.csdl|res://*/Models.WorkiDB.ssdl|res://*/Models.WorkiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WorkiDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="WorkiDBEntities" 
				 connectionString="metadata=res://*/Models.WorkiDB.csdl|res://*/Models.WorkiDB.ssdl|res://*/Models.WorkiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:j8u3251ssg.database.windows.net;Initial Catalog=eworky_test;Integrated Security=False;User ID=eworky_test;Password=tahir100%;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;" 
				 providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="UserImageFolder" value="/Users" />
    <add key="IsDevStorage" value="false" />
    <add key="IsAzureDebug" value="true" />
    <add key="AzureBlobContainer" value="files-test" />
    <add key="UploadFileMaxWidth" value="700" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <!-- Cache exposes two endpoints: one simple and other SSL endpoint. Choose the appropriate endpoint depending on your security needs. -->
  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="workiCache.cache.windows.net" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
      </securityProperties>
    </dataCacheClient>
    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="workiCache.cache.windows.net" cachePort="22243" />
      </hosts>
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Worki.Web.Helpers" />
				<add namespace="Worki.Infrastructure.Helpers" />
				<add namespace="Worki.Web.ModelBinder" />
        <add namespace="Worki.Data.Models" />
				<add namespace="Worki.Service" />
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <machineKey validationKey="0B11DAFA43F6388EB88955DFE1971A356FA497974A8BD1B1DD26BFAE101BC025565B5420ADB44BA393B54A43DE6B9422EAB5D5212FDFD1CD816371F6DF7D8A29" decryptionKey="A06E69E472D8E96BEB632E02BB86C1BDDE71F5551195F20E" validation="SHA1" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="fr-FR" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880"/>-->
      <forms loginUrl="~/compte/connexion" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="Worki.Memberships.WorkiMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Encrypted" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="Worki.Memberships.WorkiRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Worki.Web.Helpers" />
        <add namespace="Worki.Data.Models" />
				<add namespace="Worki.Infrastructure.Helpers" />
				<add namespace="Worki.Web.ModelBinder" />
				<add namespace="Worki.Service" />
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="admin@mail.worki.fr">
        <network host="auth.smtp.1and1.fr" password="OmNi_2011" userName="admin@mail.worki.fr" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.net>
      <mailSettings>
        <smtp from="noreply@eworky.com">
          <network host="smtp.gmail.com" port="587" password="poiuyt99" userName="noreply@eworky.com"/>
        </smtp>
      </mailSettings>
    </system.net>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="App_Data\Logs\general.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>