<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configProtectionProvider="CustomProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>rsaKey</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>K1ZllAq54hpTcIQOMu5Y6b2VnwQUL3kyMij7IqeBiDGGw631J5DE1IGUimhS3Yipuv8Qbh595FEBx4dltvFRbtwgnNtY3EKO7Kjgw6PM28pCf2JEKRyoomKY9tdTAUfUj77X00DmBIFQO7thDQj6bL7xwtyb0U1zBLI2miHEnvc=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>zZDedldJbLvQfy806rrQtWRUyRUUey2W5e2G3rBDE8dCg8Pa2+Fktwa9BgmDvv/Xz9hojIiZogg6sEobwbgMih2UMpbImQXeFJBG0hrzgVmBlmBm0nEQ03YgU0AFTa/9McOTYFOMJAAXEs9OffHYHUSFRdWaYZboN0nFjtcni8nXm+x2v4M5S7B7RLwjcDyE0AtmqGstGDoiqlLsqzX4Nj/HP+qmyrjLYvUY2X8GpgCPhO3eGK780N7uGvwHES3lfokPK8wGxV1MTe3VyY9XQT4bj+6d0ezmCrdFcSuFMGuTI36f2DQhs7TNQPAUrVd9xXvFGjDhBxJC8jlo2+6Vhd4Pt3f/StABS9vLKFvZjk1F7pPIx/yWUav8W+ecm2aLc0aSFvVW+wvXycKrMcPZH77C4e+PS9c98GeVY+WRUGOcIhe9FM322IHMyo5cuQ1OFIG9f3Mkups4/f0Tt9YDV+hjMtx1wtoxvYWuw/u1PjtzhjEGKQyPGTNKIEfLRO3JdlYa+uDlgtZOqexveuYdnuLVxVmkV1/G/4TQjE7CfrSCJhZi/9q+k+SbD16mqo/oBpZC++LSUjTdRemrLrzyQUY+EnPQqiCVwxD15NJsKcdYU9UrVZHdBLvn4l7020vZbvtUKRV0oRL3ww7U+yVMnIstDVLcKW5ZeOZRGWJXqf5RACt8rSjcpn39AybVyyJK</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
		<sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider" xdt:Transform="Insert">
			<providers>
				<add name="AppFabricCacheSessionStoreProvider"
						 type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
						 cacheName="default"
						 useBlobMode="true"
						 dataCacheClientName="default" />
			</providers>
		</sessionState>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" xdt:Transform="Insert">
      <error statusCode="404" redirect="/Home/Error" />
    </customErrors>
  </system.web>
  <appSettings>
    <add key="IsAzureDebug" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureBlobContainer" value="files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>