<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="data source=winsqleu06.1and1.fr,1433;Database=db356980726;Integrated Security=false;User ID=dbo356980726;Password=OmNi_2011"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="WorkiDBConnectionString"
      connectionString="data source=winsqleu06.1and1.fr,1433;Database=db356980726;Integrated Security=false;User ID=dbo356980726;Password=OmNi_2011"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
    "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
    trouve un attribut "name" qui a une valeur "MyDB".
    

  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l'exemple ci-dessous, la transformation "Replace" remplacera toute la section 
      <customErrors>  de votre fichier web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le 
      nœud <system.web>, il n'est pas nécessaire d'utiliser l'attribut "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" xdt:Transform="Insert"/>
  </system.web>
</configuration>