<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
    <section name="paymentSettings" type="Worki.Section.PaymentConfiguration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="WorkiDBEntities" connectionString="metadata=res://*/Models.WorkiDB.csdl|res://*/Models.WorkiDB.ssdl|res://*/Models.WorkiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=eworky_db;Integrated Security=False;User ID=test;Password=poiuyt;Pooling=False&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="WorkiDBEntities" 
         connectionString="metadata=res://*/Models.WorkiDB.csdl|res://*/Models.WorkiDB.ssdl|res://*/Models.WorkiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:kavsokhn6r.database.windows.net;Initial Catalog=eworky_prod;Integrated Security=False;User ID=eworky;Password=Greg100%;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;" 
				 providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="UserImageFolder" value="/Users" />
    <add key="IsDevStorage" value="false" />
    <add key="IsAzureDebug" value="true" />
    <add key="TestEmail" value="tah.iftikhar@gmail.com" />
    <add key="AzureBlobContainer" value="files-test" />
    <add key="UploadFileMaxWidth" value="500" />
    <add key="ThumbFileMaxWidth" value="150" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <!-- Cache exposes two endpoints: one simple and other SSL endpoint. Choose the appropriate endpoint depending on your security needs. -->
  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="workiCache.cache.windows.net" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
      </securityProperties>
    </dataCacheClient>
    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="workiCache.cache.windows.net" cachePort="22243" />
      </hosts>
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Worki.Web.Helpers" />
        <add namespace="Worki.Infrastructure.Helpers" />
        <add namespace="Worki.Web.ModelBinder" />
        <add namespace="Worki.Web.Model" />
        <add namespace="Worki.Data.Models" />
        <add namespace="Worki.Service" />
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
      <customErrors mode="Off"/>
    <httpRuntime executionTimeout="240" maxRequestLength="10240" />
    <machineKey validationKey="0B11DAFA43F6388EB88955DFE1971A356FA497974A8BD1B1DD26BFAE101BC025565B5420ADB44BA393B54A43DE6B9422EAB5D5212FDFD1CD816371F6DF7D8A29" decryptionKey="A06E69E472D8E96BEB632E02BB86C1BDDE71F5551195F20E" validation="SHA1" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-FR" uiCulture="fr-FR" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880"/>-->
      <forms loginUrl="~/account/logon" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="Worki.Memberships.WorkiMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Encrypted" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="Worki.Memberships.WorkiRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Worki.Web.Helpers" />
        <add namespace="Worki.Data.Models" />
        <add namespace="Worki.Infrastructure.Helpers" />
        <add namespace="Worki.Web.ModelBinder" />
        <add namespace="Worki.Web.Model" />
        <add namespace="Worki.Service" />
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap" securityTrimmingEnabled="true" cacheDuration="5" enableLocalization="true" scanAssembliesForSiteMapNodes="true" excludeAssembliesForScan="" includeAssembliesForScan="" attributesToIgnore="bling" nodeKeyGenerator="MvcSiteMapProvider.DefaultNodeKeyGenerator, MvcSiteMapProvider" controllerTypeResolver="MvcSiteMapProvider.DefaultControllerTypeResolver, MvcSiteMapProvider" actionMethodParameterResolver="MvcSiteMapProvider.DefaultActionMethodParameterResolver, MvcSiteMapProvider" aclModule="MvcSiteMapProvider.DefaultAclModule, MvcSiteMapProvider" siteMapNodeUrlResolver="MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, MvcSiteMapProvider" siteMapNodeVisibilityProvider="MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, MvcSiteMapProvider" siteMapProviderEventHandler="MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, MvcSiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="admin@mail.worki.fr">
        <network host="auth.smtp.1and1.fr" password="OmNi_2011" userName="admin@mail.worki.fr" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />-->
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="App_Data\Logs\general.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <configProtectedData>
    <providers>
      <add name="CustomProvider" thumbprint="29F3D8B901F6EC1AA11ED1081E157E2E81859FB8" type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=34da007ac91f901d" />
    </providers>
  </configProtectedData>
  <facebookSettings appId="132236173516680" appSecret="1fd012dd7b862b17a95555c1e8f1b1b8" />
  <paymentSettings userName="t.ifti_1322172136_biz_api1.hotmail.fr" password="1322172161" signature="AeiLOX9D9hPNdgMhxGPb255O5u61AanPdNVGf5h0Kf6YW4deoOscaJ66" appId="APP-80W284485P519543T" paypalMail="t.ifti_1322171616_biz@hotmail.fr" />
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>-->
</configuration>