<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings configProtectionProvider="CustomProvider" xdt:Transform="Replace">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>rsaKey</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>HBCM/SvaKMpHrP3Pow80zxPsnJWqz6ZBiCBhZwYWGKkDwWEF753O4iheH2zj8HfcQw6Lgx4vgjK+Exg59vGzEEYV4BJb6Gd3YFtXYFPMcy/PSeO2Hbn2VqDu1rZ/HNhpm8ybC9V0zmdBM8YdmYmL6LAA/HUF6l56uXkGs8fCZ+k=</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>74Nhm7cRSOhrQGD0kjujYCPPVHfDgQbGJidHShGySSyW91giiZBYM+rSR6qcSF83UMPFLCLA3TqI7G0MA1o0aUIwfgCYhYSNuAfO8r2jSU2c8Cjkx1VKUznjQQXIrPuEroXv1rKu/knbldOv22pQo9MKINP76+XWvGwRJUYT7O7bP/XYITEk08X/xIqUtRCjkSnp1sYIm7qyljUnYT7ndXb9Jp/gaYhHr5CnO0QMQdELurAXyZBuW5AEDfAMFMTkEU77CCVGzXgiAORYO4mxiLHcb/QpmFhvWYMi3dR1SqLVovrhv8O2gDYck+nHxQLie8Jt9alau1KjBtAJ1INlxqoXIhH3ii5vvvkGlJ8lEtXBE0mlrHJNCzzHIjyBbSRZ6PtJf6S+hjex+YVuS6tZ7zBBJWlFxAu1jg+kJ3KOpJp3URg5UDrlotM9mxu9zUEB4JJFf4/umyzuzhXNtBbACaFVCwprWUTSL4Zk0IHCrf4Tkn7M1lSOgq6M4urDWOuyi7r6TgHnQK1tgOfq7ppbxXgJnrekXC6io/S1NIHBArtOqU+svewOBguLsUMrg3O/9ASsIO8I3RPQvvAztqczBEpNfb6PrGAgBytJI5UwMR7ZEO1+wbNWaFWGhduUMDZd//LBVXxuJtKCAILsJFIWiWDzJ1kRUhHxOb8y0N1B6H8rhs9RnnTjTAExKE9PdRbM</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStrings>
	<!-- Cache exposes two endpoints: one simple and other SSL endpoint. Choose the appropriate endpoint depending on your security needs. -->
	<dataCacheClients xdt:Transform="Replace">
		<dataCacheClient name="default">
			<hosts>
				<host name="workiCache.cache.windows.net" cachePort="22233" />
			</hosts>
			<securityProperties mode="Message">
				<messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
			</securityProperties>
		</dataCacheClient>
		<dataCacheClient name="SslEndpoint">
			<hosts>
				<host name="workiCache.cache.windows.net" cachePort="22243" />
			</hosts>
			<securityProperties mode="Message" sslEnabled="true">
				<messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vd29ya2ljYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZzUFVFdC9waFhURUs3Q3NQZ1IwenNnQWVyZnNxSCtTNXpySXBRd1BLZUpZPSZodHRwOi8vd29ya2lDYWNoZS5jYWNoZS53aW5kb3dzLm5ldA=="></messageSecurity>
			</securityProperties>
		</dataCacheClient>
	</dataCacheClients>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
		<sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider" xdt:Transform="Insert">
			<providers>
				<add name="AppFabricCacheSessionStoreProvider"
						 type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
						 cacheName="default"
						 useBlobMode="true"
						 dataCacheClientName="default" />
			</providers>
		</sessionState>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="/Home/Error" xdt:Transform="Insert">
      <error statusCode="404" redirect="/Home/Error" />
    </customErrors>
  </system.web>
  <appSettings>
    <add key="IsAzureDebug" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureBlobContainer" value="files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
	<facebookSettings appId="211792125555707" appSecret="8e6774b840ade740ff1258eed8514a6e" xdt:Transform="Replace"/>
</configuration>