@model Worki.Data.Models.Localisation

<script type="text/javascript">
    require(["@Url.VersionedContent(Links.Scripts.Utils_js)"], function () {
	    $("#submitpostForm").submit(function () {
		    AppAjax(
			    "@Url.Action(MVC.Localisation.PostComment(Model.ID,null))",
			    "POST",
			    $(this).serializeArray(),
			    function (data) {
				    //add comment
				    $(data).hide().insertAfter('#commentFormDiv').slideDown();
				    //clear data
				    $('span.field-validation-error').remove();
				    $('#Post').val('');
				    $('#Rating').val(-1);
				    $('#rateItRating').rateit('value', '0');
				    //refresh
				    $('div.rateit').rateit();
			    },
			    function (data) {
				    $('span.field-validation-error').remove();
				    $('label[for="Post"]').append('<span class="field-validation-error">&nbsp;&nbsp;&nbsp;' + data + '</span>');
			    }
		    );
		    return false;
	    });
    });
</script>