@model Worki.Data.Models.Localisation

<div id="fileupload" class="borderRadius">
    <div class="fileupload-buttonbar">
        <label class="fileinput-button">
            <span>@Worki.Resources.Views.Localisation.LocalisationString.AddPicture</span>
            <input type="file" name="files[]" accept="image/*"/>
        </label>
    </div>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>
