@model Worki.Data.Models.SearchCriteriaFormViewModel

@{
    var dict = Model.Criteria.GetDictionnary();
    var rvd = new RouteValueDictionary(dict);
	int order = 0;
	int.TryParse(rvd["order"].ToString(), out order);
	bool byDistance = order == (int)eOrderBy.Distance;
	var distRvd = WebHelper.GetRVD(this);
	var ratingRvd = WebHelper.GetRVD(this);
	distRvd["order"] = (int)eOrderBy.Distance;
	ratingRvd["order"] = (int)eOrderBy.Rating;
}

@*<div class="float-right blue order">
    @Html.ActionLink(Worki.Resources.Views.Search.SearchString.DistanceOrdered, MVC.Localisation.ActionNames.AjaxFullSearchResult, distRvd, new Dictionary<string, object> { { "class", byDistance ? "noUnderline orderBy" : "orderBy" } }) <text>|</text>
    @Html.ActionLink(Worki.Resources.Views.Search.SearchString.RateOrdered, MVC.Localisation.ActionNames.AjaxFullSearchResult, ratingRvd, new Dictionary<string, object> { { "class", !byDistance ? "noUnderline orderBy" : "orderBy" } }) 
</div>*@

<div class="searchFormBlockLeft" id="searchResults">
    @for (int i = 0; i < Model.PageResults.Count; ++i)
	{
		var index = Model.PagingInfo.GlobalIndex(i);
        @Html.Partial(MVC.Localisation.Views._SearchResultSummary, Model.GetSingleResult(index))
	}

	<div class="pager">
		@Html.PageLinks(Model.PagingInfo, x => { rvd["page"] = x; return Url.Action(MVC.Localisation.ActionNames.AjaxFullSearchResult, rvd); })
	</div>
</div>  

<script type="text/javascript">
    $(".pager a, .order a").click(function () {
        $.ajax({
            url: this.href,
            success: function (data) {
                $("#searchResults").replaceWith(data);
            }
        });
        return false;
    });
</script>