@model Worki.Data.Models.SearchCriteriaFormViewModel

@{
    var dict = Model.Criteria.GetDictionnary();
    var distRvd = new RouteValueDictionary(dict);
    var ratingRvd = new RouteValueDictionary(dict);
    distRvd[MiscHelpers.SeoConstants.Order] = (int)eOrderBy.Distance;
    ratingRvd[MiscHelpers.SeoConstants.Order] = (int)eOrderBy.Rating;
      
    var dropDown = new DropDownModel
    {
        Id = DropDownModel.OrderByDD,
        Title = Model.GetOrderName(),
        Items = new List<DropDownItem>
        {
			new DropDownItem{ DisplayName = Worki.Resources.Views.Search.SearchString.DistanceOrdered, Link = Url.Action(MVC.Localisation.ActionNames.FullSearchResult,distRvd), Id="orderByDistance"},
            new DropDownItem{ DisplayName = Worki.Resources.Views.Search.SearchString.RateOrdered, Link = Url.Action(MVC.Localisation.ActionNames.FullSearchResult,ratingRvd), Id="orderByRating"}
		}
    };
}

<div class="float-left margint5 bold blue marginr10">
    @Worki.Resources.Views.Search.SearchString.OrderBy
</div>
<div class="float-right">
    @Html.Partial(MVC.Shared.Views._DropDownList, dropDown)
</div>
<div class="clear">
</div>