@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.WorkplaceNotFound) </title>
}


<h2>@Worki.Resources.Views.Localisation.LocalisationString.WorkplaceNotFound</h2>
<p>@Worki.Resources.Views.Localisation.LocalisationString.WorkplaceDeleted</p>

