@model Worki.Data.Models.Localisation

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.DeletedWorkplace) </title>
}



<h2>@Worki.Resources.Views.Localisation.LocalisationString.DeletedWorkplace</h2>
<div>
    <p>@Worki.Resources.Views.Localisation.LocalisationString.WorkplaceWellDeleted</p>
</div>
<div>
    <p>@Html.ActionLink(Worki.Resources.Views.Localisation.LocalisationString.BackHome, "Index", "Home")</p>
</div>

