@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Localisation.LocalisationString.NotOwnerOfThePlace) </title>
}


<h2>@Worki.Resources.Views.Localisation.LocalisationString.NotAccessToWorkplace</h2>
<p>@Worki.Resources.Views.Localisation.LocalisationString.OnlyOwnerCanEdit</p>
