@section HeadContent
{
	<title>@Html.WorkiTitle(WorkiResources.Views.Localisation.LocalisationString.NotOwnerOfThePlace) </title>
}


<h2>@WorkiResources.Views.Localisation.LocalisationString.NotAccessToWorkplace</h2>
<p>@WorkiResources.Views.Localisation.LocalisationString.OnlyOwnerCanEdit</p>
