<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="WorkiDBEntities" connectionString="metadata=res://*/Models.WorkiDB.csdl|res://*/Models.WorkiDB.ssdl|res://*/Models.WorkiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\TI\eworky_git\WorkiSiteWeb\WorkiSiteWeb\App_Data\WorkiDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>