@model LocalisationNavigation

<div class=" localisationNavigation">
    @Html.ActionLink(Worki.Resources.Menu.Menu.Home, MVC.Backoffice.Home.Index(), new { @class = "blue" })

    @if (Model != null && Model.Localisation != null)
    {
        <text> / </text> @Html.ActionLink(Model.Localisation.Name, MVC.Backoffice.Localisation.Index(Model.Localisation.ID), new { @class = "blue" })
    }

    @if (Model != null && Model.Offer != null)
    {
        <text> / </text> @Html.ActionLink(Model.Offer.Name, MVC.Backoffice.Localisation.ConfigureOffer(Model.Localisation.ID, Model.Offer.Id), new { @class = "blue" })
    }
</div>