@model LocalisationBookingViewModel

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Bookings)</title>
	<link href="@Url.VersionedContent(Links.Content.Dashboard_min_css)" rel="stylesheet" type="text/css" />
}

@{Html.RenderAction(MVC.Backoffice.Localisation.HorizontalMenu(Model.Item.ID, LocalisationMainMenu.Home));}

<div class="detailContent">

	<div class="blockContainer float-left contentLeft">
		@{Html.RenderAction(MVC.Backoffice.Localisation.VerticalMenu(Model.Item.ID, (int)LocalisationMenu.Bookings));}
	</div>

	<div class="blockContainer float-left contentRight">
        <div class="contentBlock">
            @Html.Partial(MVC.Backoffice.Shared.Views._BookingList, new BookingListViewModel    
            {
                Bookings = Model.List,
                Title = Model.Item.Name,
                UrlMaker = x => Url.Action(MVC.Backoffice.Localisation.Booking(Model.Item.ID, x)),
                EmptyMessage = string.Format(Worki.Resources.Views.BackOffice.BackOfficeString.NoWorkingBooking, Html.ActionLink(Worki.Resources.Views.BackOffice.BackOfficeString.Offers, MVC.Backoffice.Home.Localisations()))
            })
        </div>
	</div>
	<div class="clear">
	</div>
</div>