@model Localisation

@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Menu.Menu.Offers)</title>
	<link href="@Url.VersionedContent(Links.Content.Profil_min_css)" rel="stylesheet" type="text/css" />
}

@Html.Partial(MVC.Backoffice.Localisation.Views._LocalisationMenu, LocalisationMenu.Offers)

<div class="detailContent">

	<div class="blockContainer float-left profilDetailLeft">
		@Html.Partial(MVC.Shared.Views._VerticalMenu, new List<MenuItem> 
		{ 
			new MenuItem{ Selected = true, Link= Html.ActionLink(Worki.Resources.Menu.Menu.News, MVC.Backoffice.Localisation.OfferIndex())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.CurrentBookings, MVC.Backoffice.Localisation.OfferBooking())} ,
			new MenuItem{ Link= Html.ActionLink(Worki.Resources.Menu.Menu.Quoations, MVC.Backoffice.Localisation.OfferQuotation())}
		})
	</div>

	<div class="blockContainer float-left profilDetailRight">
		<div class="contentBlock">

		</div>
	</div>
	<div class="clear">
	</div>
</div>