@model Worki.Data.Models.Localisation
    
<div class="ratingContainer displayTable">
    @Html.ReadOnlyRating(Model.GetRatingAverage(RatingType.General))
    <div class="clear">
    </div> 
</div>
