@model Worki.Data.Models.LogOnModel

@using (Html.BeginForm(MVC.Mobile.Account.ActionNames.LogOn, MVC.Mobile.Account.Name, new { returnUrl = Request.Url.PathAndQuery }, FormMethod.Post, new { id = "connexionform" }))
{ 
    @Html.AntiForgeryToken()
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Login, new {placeholder = Worki.Resources.Models.Account.AccountModels.Login })
    </div>
	<div class="editor-field">
        @Html.PasswordFor(m => m.Password, new { placeholder = Worki.Resources.Models.Account.AccountModels.Password })
	</div>
    <input type="submit" class="buttonStd buttonBlue" value="@Worki.Resources.Views.Mobile.MobileString.Connection"/>
}