
@section HeadContent
{
    <meta name="robots" content="noindex">
    <title> @Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
}

<div class="detailContent">
    @RazorHelpers.TitleDiv(Worki.Resources.Models.Account.AccountModels.ChangeThePassword, "Blue")

    <p>
    @Worki.Resources.Views.Account.AccountString.FollowStepsMail
    </p>
</div>
