

@section HeadContent
{
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ChangeThePassword)</title>
}


<div class="borderContainer">
    @RazorHelpers.TitleDiv(Worki.Resources.Views.Account.AccountString.EWorkyRegister, "Blue")

    <p>
    @Worki.Resources.Views.Account.AccountString.ConfirmationMail
    </p>
</div>

@section ScriptContent
{
    @Html.Partial(MVC.Shared.Views._CufonScript)
}
