

@section HeadContent
{
    <meta name="robots" content="noindex">
    <title>@Html.WorkiTitle(Worki.Resources.Models.Account.AccountModels.ResetThePassword)</title>
}

@RazorHelpers.TitleDiv(Worki.Resources.Models.Account.AccountModels.ResetThePassword, "Blue")

<div class="detailContent">
    <div class="blockContainer">
        <div class="contentBlock">
            <p>
                @Worki.Resources.Views.Account.AccountString.FollowStepsMail        
            </p>
        </div>
    </div>
</div>