@{
	var add = false;
	var del = false;
	if (ViewData.ContainsKey(ProfilDashboardModel.AddToFavorite))
	{
		add = (bool)ViewData[ProfilDashboardModel.AddToFavorite]; 
	}
	if (ViewData.ContainsKey(ProfilDashboardModel.DelFavorite))
	{
		del = (bool)ViewData[ProfilDashboardModel.DelFavorite];
	}
}


@if (add)
{ 
<div class="favoris_add linkImg" title="@Worki.Resources.Views.Shared.SharedString.AddToFav">
	<a id="favLinkAddButton" href="javascript:void(0)"></a>
	@*@Html.ActionLink(" ", MVC.Profil.AddToFavorite(User.Identity.Name, Model.ID, ViewContext.HttpContext.Request.Url.PathAndQuery), new { @class =  })*@
</div>
}
@if (del)
{ 
<div class="favoris_del linkImg" title="@Worki.Resources.Views.Shared.SharedString.DelFromFav">
	<a id="favLinkDelButton" href="javascript:void(0)"></a>
	@*@Html.ActionLink(" ", MVC.Profil.RemoveFromFavorite(User.Identity.Name, Model.ID, ViewContext.HttpContext.Request.Url.PathAndQuery), new { @class = ".favLinkButton" })*@
</div> 
}