@model bool

@if (!Model)
{ 
<div class="favoris_add linkImg" title="@Worki.Resources.Views.Shared.SharedString.AddToFav">
	<a id="favLinkAddButton" href="javascript:void(0)"></a>
	@*@Html.ActionLink(" ", MVC.Profil.AddToFavorite(User.Identity.Name, Model.ID, ViewContext.HttpContext.Request.Url.PathAndQuery), new { @class =  })*@
</div>
}
else
{ 
<div class="favoris_del linkImg" title="@Worki.Resources.Views.Shared.SharedString.DelFromFav">
	<a id="favLinkDelButton" href="javascript:void(0)"></a>
	@*@Html.ActionLink(" ", MVC.Profil.RemoveFromFavorite(User.Identity.Name, Model.ID, ViewContext.HttpContext.Request.Url.PathAndQuery), new { @class = ".favLinkButton" })*@
</div> 
}