@model Worki.Web.Models.Localisation

<script type="text/javascript">
	AppAjax = function (url, type, datagetter, onsuccess, onerror) {
		/// <summary>jQuery extension that executes Ajax calls and handles errors in application specific ways.</summary>
		/// <param name="url" type="String">URL address where to issue this Ajax call.</param>
		/// <param name="type" type="String">HTTP method type (GET, POST, DELETE, PUT, HEAD)</param>
		/// <param name="datagetter" type="String">This is ajax data.</param>
		/// <param name="onsuccess" type="Function">This optional function(data) will be called after a successful Ajax call.</param>
		/// <param name="onerror" type="Function">This optional function(data) will be called after a error 400.</param>

		var execSuccess = $.isFunction(onsuccess) ? onsuccess : $.noop;
		var execError = $.isFunction(onerror) ? onerror : function () { return onerror; };
		var datata = datagetter;

		$.ajax({
			url: url,
			type: type,
			data: datagetter,
			error: function (xhr, status, err) {
				if (xhr.status == 400) {
					execError(xhr.responseText)
				}
				else {
					execError("Une erreur est survenue.");
				}
			},
			success: function (data, status, xhr) {
				window.setTimeout(function () {
					execSuccess(data);
				}, 10);
			}
		});
	}
	$("#submitpostForm").submit(function () {
		AppAjax(
			"@Url.Action(MVC.Localisation.PostComment(Model.ID,null))",
			"POST",
			$(this).serializeArray(),
			function (data) {
				//add comment
				$(data).hide().insertAfter('#commentFormDiv').slideDown();
				//clear data
				$('span.field-validation-error').remove();
				$('#Post').val('');
				$('#Rating').val(-1);
				$('#rateItRating').rateit('value', '0');
				//refresh
				$('div.rateit').rateit();
			},
			function (data) {
				$('span.field-validation-error').remove();
				$('label[for="Post"]').append('<span class="field-validation-error">&nbsp;&nbsp;&nbsp;' + data + '</span>');
			}
		);
		return false;
	});
</script>