@model IList<MenuItem>

<div class="horizontalMenu">
	<ul>
	@foreach (var item in Model)
	{
		var liClass = item.Selected ? "selected" : "";
		<li class="@liClass">@item.Link</li>
	}
	</ul>
</div>