<div class="indexGallery float-right">
    <ul id="mycarousel" class="jcarousel-skin-tango">
    </ul>  
</div>
 
@*<div class="indexGallery float-right">
    @Html.Image("/Content/images/coworking.png", "coworking")
</div>*@