<div class="indexGallery float-right contentBlock">
	<div class="indexGalleryTitle">
		@RazorHelpers.TitleDiv("A la une", "Blue")
	</div>
    <ul id="mycarousel" class="jcarousel-skin-tango">
    </ul>  
</div>