<div class="indexGallery float-right contentBlock">
	<div class="indexGalleryTitle">
		@RazorHelpers.TitleDiv(Worki.Resources.Views.Shared.SharedString.StarPlaces, "Blue")
	</div>
    <ul id="mycarousel" class="jcarousel-skin-tango">
    </ul>  
</div>