<div>
    <div class="buttonStd buttonBlue linkImg inline-block">@Html.ActionLink("RECHERCHER UN ESPACE", MVC.Home.Index())</div>
    <div class="buttonStd buttonBlue linkImg inline-block">@Html.ActionLink("PROPOSER UN ESPACE", MVC.Home.Index())</div>
</div>