@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Shared.SharedString.Error)</title>
}


<h2>
    @Html.Raw(string.Format(Worki.Resources.Views.Shared.SharedString.ErrorWhenYouAsk,Html.ActionLink("www.eworky.com",MVC.Home.Index())))
</h2>

