<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@Worki.Resources.Models.Profile.Profile.Teleworker</h2>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForTeleworker1
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForTeleworker2
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForTeleworker3
    </p>
</div>