<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@WorkiResources.Models.Profile.Profile.Student</h2>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForStudent1
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForStudent2
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForStudent3
    </p>
</div>