<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@WorkiResources.Models.Profile.Profile.Company</h2>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForBuisnessman1
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForBuisnessman2
    </p>
</div>