<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@Worki.Resources.Views.Search.SearchString.Nomad</h2>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForNomad1
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForNomad2
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForNomad3
    </p>
</div>