<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@WorkiResources.Views.Search.SearchString.Nomad</h2>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForNomad1
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForNomad2
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForNomad3
    </p>
</div>