<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@Worki.Resources.Views.Search.SearchString.Entrepreneur</h2>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForStartUp1
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForStartUp2
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForStartUp3
    </p>
</div>