<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@WorkiResources.Views.Search.SearchString.Independant</h2>

    <p>@WorkiResources.Views.Search.SearchString.SpeechForIndependent1
    </p>
    <p>
    @WorkiResources.Views.Search.SearchString.SpeechForIndependent2
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForIndependent3
    </p>
</div>