<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@Worki.Resources.Models.Profile.Profile.Company</h2>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForBuisnessman1
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForBuisnessman2
    </p>
</div>