<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@WorkiResources.Views.Search.SearchString.Entrepreneur</h2>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForStartUp1
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForStartUp2
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForStartUp3
    </p>
</div>