<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@WorkiResources.Models.Profile.Profile.Teleworker</h2>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForTeleworker1
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForTeleworker2
    </p>
    <p>@WorkiResources.Views.Search.SearchString.SpeechForTeleworker3
    </p>
</div>