<div class="searchDesc float-right borderRadius">
    <h2 class="blue">@Worki.Resources.Views.Search.SearchString.Independant</h2>

    <p>@Worki.Resources.Views.Search.SearchString.SpeechForIndependent1
    </p>
    <p>
    @Worki.Resources.Views.Search.SearchString.SpeechForIndependent2
    </p>
    <p>@Worki.Resources.Views.Search.SearchString.SpeechForIndependent3
    </p>
</div>