
@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Admin.AdminString.InexistingPress)</title>
}


    <h2>@Worki.Resources.Views.Admin.AdminString.PressNotFound</h2>
    <p>@Worki.Resources.Views.Admin.AdminString.PressDeleted</p>

