
@section HeadContent
{
    <title>@Html.WorkiTitle(WorkiResources.Views.Admin.AdminString.AbsentUser)</title>
}


    <h2>@WorkiResources.Views.Localisation.LocalisationString.WorkplaceNotFound</h2>
    <p>@WorkiResources.Views.Localisation.LocalisationString.WorkplaceDeleted</p>

