<div class="indexDesc float-left borderRadius">
    <h2 class="blue">@Worki.Resources.Views.Home.HomeString.WelcomeToEWorky</h2>
    <p><span class="blue">@Worki.Resources.Views.Home.HomeString.Find</span>&nbsp;&nbsp;@Worki.Resources.Views.Home.HomeString.EWorkyCouldFindWorkplace
    </p>
    <p><span class="blue">@Worki.Resources.Views.Home.HomeString.Share</span>&nbsp;&nbsp;@Worki.Resources.Views.Home.HomeString.JoinCommunity
    </p>
    <p><span class="blue">@Worki.Resources.Views.Home.HomeString.Enjoy</span>&nbsp;&nbsp;@Worki.Resources.Views.Home.HomeString.BestPlaceToWork
    </p>
</div>