@model int

<div class="indexHeader">
    <h1 class="darkblue">@Worki.Resources.Views.Home.HomeString.FindTheBesPlace1</h1>
    <h2 class="blue">@Html.Raw(string.Format(Worki.Resources.Views.Home.HomeString.FindTheBesPlace2, Model))</h2>
</div>