@section HeadContent
{
	<meta name="Description" content="@Worki.Resources.Views.Home.MentionLegaleString.Description"/>
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.Imprint)</title>
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.Imprint, "Blue")
<div class="detailContent generalTextContainer">
	@{Html.RenderAction(MVC.Home.AboutMenu((int)IndexItem.Legal));}

	<div class="dashedLeft float-right generalTextContent">
		<div class="contentBlock">
			<p>
				@Html.Raw(String.Format(Worki.Resources.Views.Home.HomeString.ImprintDescription, MiscHelpers.EmailConstants.ContactMail))
			</p>
		</div>
	</div>
    <div class="clear">
	</div>
</div>