@section HeadContent
{
    <title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.Imprint)</title>
}

@RazorHelpers.TitleDiv(Worki.Resources.Views.Home.HomeString.Imprint, "Blue")
<div class="detailContent generalTextContainer">
	<div class="contentBlock generalTextContent float-right">
	    <p>
            @Html.Raw(String.Format(Worki.Resources.Views.Home.HomeString.ImprintDescription, EmailService.ContactMail))
        </p>
    </div>
    <div class="clear">
	</div>
</div>

@section ScriptContent
{
    @Html.Partial(MVC.Shared.Views._CufonScript)
}
