@section HeadContent
{
	<title>@Html.WorkiTitle(Worki.Resources.Views.Home.HomeString.MailSent) </title>
}

<h2>@Worki.Resources.Views.Home.HomeString.MailSent</h2>
<div>
    <p>@Worki.Resources.Views.Home.HomeString.MailWellSent</p>
</div>
