@section HeadContent
{
	<title>@Html.WorkiTitle(WorkiResources.Views.Home.HomeString.MailSent) </title>
}

<h2>@WorkiResources.Views.Home.HomeString.MailSent</h2>
<div>
    <p>@WorkiResources.Views.Home.HomeString.MailWellSent</p>
</div>
